
@{
    ViewBag.Title = "Listing Page";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}

@section Styles{

    <style>
        .busi-sc img {
            box-shadow: none !important;
        }
    </style>

}
<div class="banner-sec" style="background: url(/Content/visitor-panel/image/taj2.jpg);">
    <div class="page-center">
        <div class="banner-content">
            <p>
                its originally taken from a Latin
                text written by a Roman Scholar , Sceptic
                and philosopher by the name of Marcus
                Tullius Cicero,whoin fluenced the Latin language hreatly.
            </p>
        </div>
    </div>
</div>

<section id="section-1ls">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="ca-hd">Categories</h2>
                <div class="img-w-txt-outer d-flex pt-4">

                    <div class="img-w-txt">
                        <a href="listing-page.html">
                            <img style="width: 60px;" src="~/Content/visitor-panel/image/1670408542539-09e49b (1).jpg" alt="" class="img-tx">
                            <p class="txt-img text-center">Bestseller packages</p>
                        </a>
                    </div>
                    <div class="img-w-txt">
                        <a href="yoga.html">
                            <img style="width: 60px;" src="/Content/visitor-panel/image/fitness.jpg" alt="" class="img-tx">
                            <p class="txt-img">Fitness</p>
                        </a>
                    </div>
                    <div class="img-w-txt">
                        <a href="listing-page.html">
                            <img style="width: 60px;" src="/Content/visitor-panel/image/1sports.jpg" alt="" class="img-tx">
                            <p class="txt-img">Sports</p>
                        </a>
                    </div>
                    <div class="img-w-txt">
                        <a href="listing-page.html">
                            <img style="width: 60px;" src="/Content/visitor-panel/image/tuition.jpg" alt="" class="img-tx">
                            <p class="txt-img">Education</p>
                        </a>
                    </div>
                    <div class="img-w-txt">
                        <a href="listing-page.html">
                            <img style="width: 60px;" src="/Content/visitor-panel/image/audience-1850665_640.jpg" alt="" class="img-tx">
                            <p class="txt-img">Entertainment</p>
                        </a>
                    </div>
                    <div class="img-w-txt">
                        <a href="listing-page.html">
                            <img style="width: 60px;" src="/Content/visitor-panel/image/music.jpg" alt="" class="img-tx">
                            <p class="txt-img">Music</p>
                        </a>
                    </div>
                    <div class="img-w-txt">
                        <a href="listing-page.html">
                            <img style="width: 60px;" src="/Content/visitor-panel/image/trainer.jpg" alt="" class="img-tx">
                            <p class="txt-img">Training</p>
                        </a>
                    </div>
                    <div class="img-w-txt">
                        <a href="listing-page.html">
                            <img style="width: 60px;" src="/Content/visitor-panel/image/istockphoto-1402700291-170667a.jpg" alt=""
                                 class="img-tx">
                            <p class="txt-img">Class</p>
                        </a>
                    </div>
                    <div class="img-w-txt">
                        <a href="listing-page.html">
                            <img style="width: 60px;" src="/Content/visitor-panel/image/tengku-nadia-fz8_SONkBB8-unsplash.jpg" alt=""
                                 class="img-tx">
                            <p class="txt-img">Events</p>
                        </a>
                    </div>
                    <div class="img-w-txt">
                        <a href="listing-page.html">
                            <img style="width: 60px;" src="/Content/visitor-panel/image/fitness-room-1180062_640.jpg" alt=""
                                 class="img-tx">
                            <p class="txt-img">Instructor</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="row row1ls2 mt-lg-4 mt-2">
            <div class="col-sm-12 Srch-r-sc">

                <div class="search-r-outer d-flex justify-content-between align-items-center mt-4 border-bottom pb-3">

                    <div class="busi-sc d-flex">
                        <a href="#"> <img src="@Resources.StaticResources.MasterzoneLogo"></a>
                        <div class="bus-txt-sc">
                            <div class="bus-head-i ">
                                <a href="" class="d-flex align-items-center text-dark">
                                    <div class="Bus-txt-1 b-title">PACKAGE</div> <i class="fa-regular fa-heart ml-2"><span class="ic-txt-p">1</span></i>
                                </a>
                            </div>
                            <div class="bus-addr-txt b-addrs">Mumbai, Maharashtra</div>
                        </div>
                    </div>
                    <a class="btn btn-outline-dark btn-sm btn-md-lg cstm-btn w-auto" href="">View Profile</a>


                </div>
                <div class="search-r-outer d-flex justify-content-between align-items-center mt-4 border-bottom pb-3">

                    <div class="busi-sc d-flex">
                        <a href="#"> <img src="@Resources.StaticResources.MasterzoneLogo"></a>
                        <div class="bus-txt-sc">
                            <div class="bus-head-i ">
                                <a href="" class="d-flex align-items-center text-dark">
                                    <div class="Bus-txt-1 b-title">PACKAGE</div> <i class="fa-regular fa-heart ml-2"><span class="ic-txt-p">1</span></i>
                                </a>
                            </div>
                            <div class="bus-addr-txt b-addrs">Mumbai, Maharashtra</div>
                        </div>
                    </div>
                    <a class="btn btn-outline-dark btn-sm btn-md-lg cstm-btn w-auto" href="">View Profile</a>


                </div>
                <div class="search-r-outer d-flex justify-content-between align-items-center mt-4 border-bottom pb-3">

                    <div class="busi-sc d-flex">
                        <a href="#"> <img src="@Resources.StaticResources.MasterzoneLogo"></a>
                        <div class="bus-txt-sc">
                            <div class="bus-head-i ">
                                <a href="" class="d-flex align-items-center text-dark">
                                    <div class="Bus-txt-1 b-title">PACKAGE</div> <i class="fa-regular fa-heart ml-2"><span class="ic-txt-p">1</span></i>
                                </a>
                            </div>
                            <div class="bus-addr-txt b-addrs">Mumbai, Maharashtra</div>
                        </div>
                    </div>
                    <a class="btn btn-outline-dark btn-sm btn-md-lg cstm-btn w-auto" href="">View Profile</a>


                </div>
                <div class="search-r-outer d-flex justify-content-between align-items-center mt-4 border-bottom pb-3">

                    <div class="busi-sc d-flex">
                        <a href="#"> <img src="@Resources.StaticResources.MasterzoneLogo"></a>
                        <div class="bus-txt-sc">
                            <div class="bus-head-i ">
                                <a href="" class="d-flex align-items-center text-dark">
                                    <div class="Bus-txt-1 b-title">PACKAGE</div> <i class="fa-regular fa-heart ml-2"><span class="ic-txt-p">1</span></i>
                                </a>
                            </div>
                            <div class="bus-addr-txt b-addrs">Mumbai, Maharashtra</div>
                        </div>
                    </div>
                    <a class="btn btn-outline-dark btn-sm btn-md-lg cstm-btn w-auto" href="">View Profile</a>


                </div>
                <div class="search-r-outer d-flex justify-content-between align-items-center mt-4 border-bottom pb-3">

                    <div class="busi-sc d-flex">
                        <a href="#"> <img src="@Resources.StaticResources.MasterzoneLogo"></a>
                        <div class="bus-txt-sc">
                            <div class="bus-head-i ">
                                <a href="" class="d-flex align-items-center text-dark">
                                    <div class="Bus-txt-1 b-title">PACKAGE</div> <i class="fa-regular fa-heart ml-2"><span class="ic-txt-p">1</span></i>
                                </a>
                            </div>
                            <div class="bus-addr-txt b-addrs">Mumbai, Maharashtra</div>
                        </div>
                    </div>
                    <a class="btn btn-outline-dark btn-sm btn-md-lg cstm-btn w-auto" href="">View Profile</a>


                </div>


            </div>
        </div>

        <center><a class="vm-btn btn btn-outline-dark btn-sm btn-md-lg mt-4 mt-lg-5 cstm-btn w-auto">View More</a></center>


    </div>
</section>

