
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!-- slick cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/assets/style.css">
    <!-- isotop filter -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Visitor Panel</title>
    <style>
        :root {
            --primary-color: #f3a762;
            --secondary-color: #f3a762;
            --black: #000000;
            --white: #ffffff;
            --gray: #efefef;
            --gray-2: #757575;
            --facebook-color: #4267B2;
            --google-color: #DB4437;
            --twitter-color: #1DA1F2;
            --insta-color: #E1306C;
        }

        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

        * {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        h4.frps-ls.mb-4 {
            color: #343a40 !important;
            font-size: 1.73em;
            font-weight: 800;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
        }

        @@media(max-width:800px) {

            seciton#section-lg-1:after {
                content: "";
                background: #f3a762;
                width: 100%;
                height: 5vh;
                z-index: 100;
                position: absolute;
                bottom: 0;
            }

            div#topsc-2 {
                padding: 2rem 0rem 5rem 2rem !important;
            }

            .col {
                padding: 2rem 2rem 12rem 2rem !important;
            }
        }

        html,
        body {
            height: 100vh;
            overflow: hidden;
        }

        .container {
            position: relative;
            min-height: 100vh;
            overflow: hidden;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            height: 100vh;
        }

        .col {
            width: 50%;
        }

        .align-items-center {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .form-wrapper {
            width: 100%;
            max-width: 28rem;
        }

        .form {
            padding: 1rem;
            background-color: var(--white);
            border-radius: 1.5rem;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transform: scale(0);
            transition: .5s ease-in-out;
            transition-delay: 1s;
        }

        .input-group {
            position: relative;
            width: 100%;
            margin: 1rem 0;
        }

            .input-group i {
                position: absolute;
                top: 50%;
                left: 1rem;
                transform: translateY(-50%);
                font-size: 1.4rem;
                color: var(--gray-2);
            }

            .input-group input {
                width: 100%;
                padding: 1rem 3rem;
                font-size: 1rem;
                background-color: var(--gray);
                border-radius: .5rem;
                border: 0.125rem solid var(--white);
                outline: none;
            }

                .input-group input:focus {
                    border: 0.125rem solid var(--primary-color);
                }

        .form button {
            cursor: pointer;
            width: 100%;
            padding: .6rem 0;
            border-radius: .5rem;
            border: none;
            background-color: var(--primary-color);
            color: var(--white);
            font-size: 1.2rem;
            outline: none;
        }

        .form p {
            margin: 1rem 0;
            font-size: .7rem;
        }

        .flex-col {
            flex-direction: column;
        }

        .social-list {
            margin: 2rem 0;
            padding: 1rem;
            border-radius: 1.5rem;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transform: scale(0);
            transition: .5s ease-in-out;
            transition-delay: 1.2s;
        }

            .social-list > div {
                color: var(--white);
                margin: 0 .5rem;
                padding: .7rem;
                cursor: pointer;
                border-radius: .5rem;
                cursor: pointer;
                transform: scale(0);
                transition: .5s ease-in-out;
            }

                .social-list > div:nth-child(1) {
                    transition-delay: 1.4s;
                }

                .social-list > div:nth-child(2) {
                    transition-delay: 1.6s;
                }

                .social-list > div:nth-child(3) {
                    transition-delay: 1.8s;
                }

                .social-list > div:nth-child(4) {
                    transition-delay: 2s;
                }

                .social-list > div > i {
                    font-size: 1.5rem;
                    transition: .4s ease-in-out;
                }

                .social-list > div:hover i {
                    transform: scale(1.5);
                }

        .facebook-bg {
            background-color: var(--facebook-color);
        }

        .google-bg {
            background-color: var(--google-color);
        }

        .twitter-bg {
            background-color: var(--twitter-color);
        }

        .insta-bg {
            background-color: var(--insta-color);
        }

        .pointer {
            cursor: pointer;
        }

        .container.sign-in .form.sign-in,
        .container.sign-in .social-list.sign-in,
        .container.sign-in .social-list.sign-in > div,
        .container.sign-up .form.sign-up,
        .container.sign-up .social-list.sign-up,
        .container.sign-up .social-list.sign-up > div {
            transform: scale(1);
        }

        .content-row {
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 6;
            width: 100%;
        }

        .text {
            margin: 4rem;
            color: var(--white);
        }

            .text h2 {
                font-size: 3.5rem;
                font-weight: 800;
                margin: 2rem 0;
                transition: 1s ease-in-out;
            }

            .text p {
                font-weight: 600;
                transition: 1s ease-in-out;
                transition-delay: .2s;
            }

        .img img {
            width: 30vw;
            transition: 1s ease-in-out;
            transition-delay: .4s;
        }

        .text.sign-in h2,
        .text.sign-in p,
        .img.sign-in img {
            transform: translateX(-250%);
        }

        .text.sign-up h2,
        .text.sign-up p,
        .img.sign-up img {
            transform: translateX(250%);
        }

        .container.sign-in .text.sign-in h2,
        .container.sign-in .text.sign-in p,
        .container.sign-in .img.sign-in img,
        .container.sign-up .text.sign-up h2,
        .container.sign-up .text.sign-up p,
        .container.sign-up .img.sign-up img {
            transform: translateX(0);
        }

        /* BACKGROUND */

        .container::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 300vw;
            transform: translate(35%, 0);
            background-image: linear-gradient(-45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
            transition: 1s ease-in-out;
            z-index: 6;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-bottom-right-radius: max(50vw, 50vh);
            border-top-left-radius: max(50vw, 50vh);
        }

        .container.sign-in::before {
            transform: translate(0, 0);
            right: 50%;
        }

        .container.sign-up::before {
            transform: translate(100%, 0);
            right: 50%;
        }

        .frm-sc-lg1 {
            min-width: 100%;
        }

        img.fm-lg {
            width: 4.5rem;
            margin: 1rem 0;
        }

        /* RESPONSIVE */

        .form p.cna-txt {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @@media only screen and (max-width: 800px) {

            .col {
                border-top-left-radius: unset !important;
                border-top-right-radius: unset !important;
            }

                .col.align-items-center.flex-col.sign-in {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }

                .col.align-items-center.flex-col.sign-up {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }

            .text-dark {
                color: #343a40 !important;
                font-size: 16px;
            }

            p.cna-txt {
                font-size: 16px;
            }
        }

        @@media only screen and (max-width: 425px) {

            .container::before,
            .container.sign-in::before,
            .container.sign-up::before {
                height: 100vh;
                border-bottom-right-radius: 0;
                border-top-left-radius: 0;
                z-index: 0;
                transform: none;
                right: 0;
            }
            /* .container.sign-in .col.sign-up {
            transform: translateY(100%);
        } */

            .container.sign-in .col.sign-in,
            .container.sign-up .col.sign-up {
                transform: translateY(0);
            }

            .content-row {
                align-items: flex-start !important;
            }

                .content-row .col {
                    transform: translateY(0);
                    background-color: unset;
                }

            .col {
                width: 100%;
                position: absolute;
                padding: 2rem;
                background-color: var(--white);
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
                transform: translateY(100%);
                transition: 1s ease-in-out;
            }

            .row {
                align-items: flex-end;
                justify-content: flex-end;
            }

            .form,
            .social-list {
                box-shadow: none;
                margin: 0;
                padding: 0;
            }

            .text {
                margin: 0;
            }

                .text p {
                    display: none;
                }

                .text h2 {
                    margin: .5rem;
                    font-size: 2rem;
                }
        }


        .error-class {
            color: red;
        }

        img.w-20 {
            width: 10% !important;
        }

        .btn-google {
            font-size: 14px;
        }

        .social-icon-img {
            width: 20px;
        }
    </style>
</head>

<body>
    <!-- <br>
    <br> -->
    <seciton id="section-lg-1">
        <div id="container" class="container frm-sc-lg1">
            <!-- FORM SECTION -->
            <div class="row">
                <!-- SIGN UP -->
                <div class="col align-items-center flex-col sign-up">
                    <div class="form-wrapper align-items-center">
                        <div class="form sign-up">
                            <form>
                                <div class="text sign-up d-md-none text-dark mb-5">
                                    <h2>
                                        Join with us
                                    </h2>

                                </div>
                                <div class="d-none d-md-block">
                                    <a href="/">
                                        <img class="fm-lg"
                                             src="@Resources.StaticResources.MasterzoneLogo">
                                    </a>
                                </div>
                                <div class="input-group">
                                    <!-- <i class='bx bxs-user'></i>                                     -->
                                    <label class="vs-lb">User Name</label>
                                    <input type="text">
                                </div>
                                <div class="input-group">
                                    <!-- <i class='bx bx-mail-send'></i> -->
                                    <label class="vs-lb">Email</label>
                                    <input type="email">
                                </div>
                                <div class="input-group">
                                    <!-- <i class='bx bxs-lock-alt'></i> -->
                                    <label class="vs-lb">Password</label>
                                    <input type="password">
                                </div>
                                <div class="input-group">
                                    <!-- <i class='bx bxs-lock-alt'></i> -->
                                    <label class="vs-lb">Confirm Password</label>
                                    <input type="password">
                                </div>
                                <button type="button">
                                    Sign up
                                </button>
                                <p>
                                    <span>
                                        Already have an account?
                                    </span>
                                    <b onclick="toggle()" class="pointer">
                                        Sign in here
                                    </b>
                                </p>
                            </form>
                        </div>

                    </div>

                </div>
                <!-- END SIGN UP -->
                <!-- SIGN IN -->
                <div class="col align-items-center flex-col sign-in">
                    <div class="form-wrapper align-items-center">
                        <div class="form sign-in sn-log-fm">
                            <form action="/Home/Login" method="post">
                                <input type="hidden" id="returnURL" name="returnURL" value="@ViewBag.ReturnURL" />
                                <div class="text sign-in d-none d-md-none text-dark mb-5">
                                    <h2>
                                        Welcome
                                    </h2>

                                </div>
                                <div class="d-none d-md-block">
                                    <a href="/">
                                        <img class="fm-lg"
                                             src="@Resources.StaticResources.MasterzoneLogo">
                                    </a>
                                </div>
                                <!--<div class="input-group">-->
                                    <!-- <i class='bx bxs-user'></i> -->
                                    <!--<label class="vs-lb">Email</label>
                                    <input type="text" id="Email" name="Email">
                                    <div class="error-class" id="email_error_Login"></div>
                                </div>-->
                                <div class="input-group">
                                    <!-- <i class='bx bxs-user'></i> -->
                                    <label class="vs-lb">Master-ID / Email / PhoneNumber</label>
                                    <input type="text" id="MasterId" name="MasterId">
                                    <div class="error-class" id="masterId_error_Login"></div>
                                </div>
                                <div class="input-group">
                                    <!-- <i class='bx bxs-lock-alt'></i> -->
                                    <label class="vs-lb">Password</label>
                                    <input type="password" id="Password" name="Password">
                                    <div class="error-class" id="password_error_Login"></div>
                                </div>
                                @if (true || !String.IsNullOrEmpty(ViewBag.Message))
                                {
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="w-100 text-center text-danger">@ViewBag.Message</div>
                                    </div>
                                }
                                <button type="submit" onclick="return CheckLogin();">
                                    Sign in
                                </button>
                                <p>
                                    <a class="fp001 text-dark" href="/Home/ForgotPassword">
                                        <b>
                                            Forgot password?
                                        </b>
                                    </a>
                                </p>
                                <p class="cna-txt">
                                    <span>
                                        Don't have an account?
                                    </span>
                                    <b class="pointer ml-1">
                                        <a class="text-dark" href="/Home/Register">
                                            Sign up here
                                        </a>
                                    </b>
                                </p>
                                @{
                                    ViewBag.Title = "Google";
                                }

                                <a class="btn btn-sm btn-google btn-block text-uppercase btn-outline-danger" href="@ViewBag.response"><img src="~/Content/images/google_icon_128.png" class="social-icon-img mx-2">Google</a>
                                @{
                                    ViewBag.Titel = "Facebook";
                                }
                                <a class="btn btn-sm btn-google btn-block text-uppercase btn-outline-primary" href="@ViewBag.Url"><img src="~/Content/images/facebook_icon_128.png" class="social-icon-img mx-2">Facebook</a>

                            </form>
                        </div>
                        <div class="form sign-in frg-pass" style="display: none;">
                            <form>
                                <div class="d-none d-md-block">
                                    <a href="/">
                                        <img class="fm-lg"
                                             src="@Resources.StaticResources.MasterzoneLogo">
                                    </a>
                                </div>
                                <h4 class="frps-ls mb-4">Forgot Password</h4>
                                <div class="input-group">
                                    <!-- <i class="bx bxs-user"></i> -->
                                    <label class="vs-lb">Email</label>
                                    <input type="text" fdprocessedid="h7pjjb">
                                </div>
                                <button fdprocessedid="mh9fgf">
                                    Request New Password
                                </button>
                                <p>
                                    <a class="lg001 text-dark" href="/Home/Login">
                                        <b>
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Login
                                        </b>
                                    </a>
                                    <!-- </p>
                                        <span>
                                            Don't have an account?
                                        </span>
                                        <b  class="pointer">
                                            Sign up here
                                        </b>
                                    </p> -->
                            </form>
                        </div>
                    </div>
                    <div class="form-wrapper">

                    </div>
                </div>
                <!-- END SIGN IN -->
            </div>
            <!-- END FORM SECTION -->
            <!-- CONTENT SECTION -->
            <div class="row content-row">
                <!-- SIGN IN CONTENT -->
                <div id="topsc-2" class="col align-items-center flex-col">
                    <div class="d-md-none">
                        <a href="/"><img class="fm-lg" src="@Resources.StaticResources.MasterzoneLogo"></a>
                    </div>
                    <div class="text sign-in d-md-block">
                        <h2>
                            Welcome
                        </h2>

                    </div>
                    <div class="img sign-in">

                    </div>
                </div>
                <!-- END SIGN IN CONTENT -->
                <!-- SIGN UP CONTENT -->
                <div class="col align-items-center flex-col">
                    <div class="img sign-up">

                    </div>
                    <div class="text sign-up d-none d-md-block">
                        <h2>
                            Join with us
                        </h2>

                    </div>
                </div>
                <!-- END SIGN UP CONTENT -->
            </div>
            <!-- END CONTENT SECTION -->
        </div>
    </seciton>

    <script>
        let container = document.getElementById('container')

        toggle = () => {
            container.classList.toggle('sign-in')
            container.classList.toggle('sign-up')
        }

        setTimeout(() => {
            container.classList.add('sign-in')
        }, 200)

    </script>

    <script src="~/Scripts/js/Login.js"></script>
</body>
</html>
