@using MasterZoneMvc.ViewModels;

@{
    var UserRole = Context.Items["UserRole"] as string;

    string ControllerNameForLinks = (UserRole == "BusinessAdmin") ? "Business" : "Staff";
    var Permissions = Context.Items["Permissions"] as List<PermissionHierarchy_VM>;
    List<PermissionHierarchy_VM> permissions = Permissions;
    List<string> permissionKeys = new List<string>();
    if (permissions.Count() > 0)
    {
        permissionKeys = permissions.Select(p => p.KeyName).ToList();
    }
}


<script>

    var UserToken_Global = "";

    function initializeDataTable() {
        $("#tblBusinessImages").DataTable();
    }
    $(document).ready(function () {
        $.get("/Business/GetBusinessAdminToken", null, function (dataToken) {
            if (dataToken != "" && dataToken != null) {
                UserToken_Global = dataToken;
                initializeDataTable();
                getAllBusinessImages();

            }
            else {
                $.get("/Business/GetStaffToken", null, function (dataToken) {
                    if (dataToken != "" && dataToken != null) {
                        UserToken_Global = dataToken;
                        initializeDataTable();
                        getAllBusinessImages();
                        //StopLoading();
                    }
                    else {
                        StopLoading();
                    }
                });
            }
        });

    });

    function ShowModelAddUpdateBusinessImage()
    {
        $("#AddBusinessImage").modal('show');
    }
    function ResetAddViewBusinessImage() {
        $("#txtTitle_BusinessImage").val('');
        $(".error-class").html('');
        $("#ManageBusinessImages").val('');
        $('#previewManageBusinessImage').addClass('d-none');
    }
    function AddUpdateBusinessImage() {

        var _businessImageTitle = $("#txtTitle_BusinessImage").val().trim();
        var _businessImages_MS = $("#ManageBusinessImages").get(0);
        var _businessImages = _businessImages_MS.files;


        let is_valid = true;
        $(".error-class").html('');

        if (validate_IsEmptyStringInputFieldValue(_businessImageTitle)) {
            is_valid = false;
            $("#error_txtTitle_BusinessImage").html('@(Resources.BusinessPanel.BusinessImageTitleRequired)');
        }
        if (_businessImages.length <= 0) {
            is_valid = false;
            $("#error_ManageBusinessImages").html('@(Resources.BusinessPanel.BusinessImageRequired)');
        }


        if (is_valid) {

            var data = new FormData();
            data.append("id", "0");
            data.append("Title", _businessImageTitle);
            data.append("Image", _businessImages[0]);


            $.ajax({
                url: '/api/BusinessContent/AddUpdateImages',
                headers: {
                    "Authorization": "Bearer " + UserToken_Global
                },
                data: data,
                processData: false,
                mimeType: 'multipart/form-data',
                contentType: false,
                //contentType: 'application/json',
                type: 'POST',
                success: function (dataResponse) {

                    //--Parse into Json of response-json-string
                    dataResponse = JSON.parse(dataResponse);
                    //--If successfully added/updated
                    if (dataResponse.status == 1) {
                        swal("Success!", dataResponse.message, "success");
                        $("#AddBusinessImage").modal('hide');
                        getAllBusinessImages();
                        ResetAddViewBusinessImage();
                    }
                    else {
                        swal({
                            title: 'Error!',
                            icon: 'error',
                            text: dataResponse.message
                        });
                        StopLoading();
                        return;
                    }



                    StopLoading();


                },
                error: function (result) {
                    StopLoading();
                    //removeBtnLoading(btnSelector);
                    //enableContinueBtn();

                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            });
        }
    }

    function getAllBusinessImages() {
        let _url = API_Base_URL + "/api/BusinessContent/GetAllImagesList";

        $.ajax({
            type: "GET",
            url: _url,
            headers: {
                "Authorization": "Bearer " + UserToken_Global,
                "Content-Type": "application/json"
            },
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }

                var _table = $('#tblBusinessImages').DataTable();
                _table.destroy();

                var sno = 0;
                var _ImageTitle = '';
                var _Image = '';
                var _action = '';

                var data = [];
                for (var i = 0; i < response.data.length; i++) {
                    sno++;
                    _ImageTitle = response.data[i].ImageTitle;
                    _Image = (response.data[i].ImageWithPath == "") ? '' : '<img src="' + response.data[i].ImageWithPath + '" class="image" />';
                    _action = '<div class="edbt">';
                    /* _action += `<a href="javascript:EditEventSponsor(${response.data[i].Id}, ${response.data[i].EventId});"><i class="fas fa-edit"></i></a>`;*/
                    @if (permissionKeys.Contains("Miscellaneous_ManageBusinessImages_DeleteImages"))
                    {
                        <text>
                            _action += `<a href="javascript:ConfirmDeleteBusinessImage(${response.data[i].Id});"><button type="button" class="btn btn-danger mb-0">Delete</button></a>`;
                        </text>
                    }
                    _action += '</div>';
                    data.push([
                        sno,
                        _ImageTitle,
                        _Image,
                        _action

                    ]);

                }

                $('#tblBusinessImages').DataTable({
                    "data": data,
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                });
                StopLoading();
            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }
    function ConfirmDeleteBusinessImage(id) {
        swal({
            title: "Delete This Image",
            text: "Are you sure to delete this image",
            type: "warning",
            buttons: {
                cancel: true,
                confirm: "Yes",
            }
        })
            .then((willDelete) => {
                if (willDelete) {
                    DeleteBusinessImage(id);
                } else {
                    //swal("Your imaginary file is safe!");
                }
            });
    }
    function DeleteBusinessImage(id) {
        StartLoading();
        $.ajax({
            type: "POST",
            url: "/api/BusinessContent/ImageDeleteById?id=" + id,
            headers: {
                "Authorization": "Bearer " + UserToken_Global,
                "Content-Type": "application/json"
            },
            contentType: 'application/json',
            success: function (dataResponse) {
                StopLoading();

                //--Check if staff successfully deleted
                if (dataResponse.status == 1) {
                    setTimeout(function () {
                        swal("Success!", dataResponse.message, "success");
                        //--Get Event Sponsor List
                        getAllBusinessImages();

                    }, 100);
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

 
    ////// -----------    FIELD VALIDATION HANDLER FUNCTIONS  --------------------------

    const validate_IsEmptyStringInputFieldValue = function (inputFieldValue) {
        if (inputFieldValue == '' || inputFieldValue.replace(/\s/g, "") == "")
            return true;
        return false;
    }

    const validate_IsEmptySelectInputFieldValue = function (inputFieldValue) {
        if (inputFieldValue == undefined || inputFieldValue == null || inputFieldValue == '' || inputFieldValue == 0)
            return true;
        return false;
    }
    ////// -----------    FIELD VALIDATION HANDLER FUNCTIONS  --------------------------

// Image File Preview -------------------------------------------------------------
    document.getElementById('ManageBusinessImages').addEventListener('change', handleImageUpload);

function handleImageUpload(event) {
    const file = event.target.files[0];
    const fileSize = file.size / 1024; // size in kilobytes
    const maxSize = 10 * 1024 * 1024; // maximum size in kilobytes
    const fileType = file.type;
    const validImageTypes = ['image/jpeg', 'image/png'];

    if (!validImageTypes.includes(fileType)) {
        $.iaoAlert({
            msg: '@(Resources.BusinessPanel.ValidImageTypesRequired)',
            type: "error",
            mode: "dark",
        });
        event.target.value = null; // clear the file input element
        $('#previewManageBusinessImage').addClass('d-none'); // hide the preview image
        return;
    }
    if (fileSize > maxSize) {
        $.iaoAlert({
            msg: '@(String.Format(Resources.BusinessPanel.FileSizeRequired, "10 MB"))',
            type: "error",
            mode: "dark",
        });
        event.target.value = null; // clear the file input element
        $('#previewManageBusinessImage').addClass('d-none'); // hide the preview image

        return;
    }

    // image size is within the limit, display the preview image
    const reader = new FileReader();
    reader.onload = function (event) {
        document.getElementById('previewManageBusinessImage').src = event.target.result;
        $('#previewManageBusinessImage').removeClass('d-none');
    }

    reader.readAsDataURL(file);
}
// Image File Preview -------------------------------------------------------------


</script>

