<script>
    var UserToken_Global = "";
    var MessageId_Global = 0;

    $(document).ready(function () {
        $.get("/Business/GetBusinessAdminToken", null, function (dataToken) {
            if (dataToken != "" && dataToken != null) {
                UserToken_Global = dataToken;
               // GetMessageDetailById();
                GetStudentDetail();
              //  GetCountDetail();
                StopLoading();
            }
            else {
                $.get("/Business/GetStaffToken", null, function (dataToken) {
                    if (dataToken != "" && dataToken != null) {
                        UserToken_Global = dataToken;
                        //StopLoading();
                    }
                    else {
                        StopLoading();
                    }
                });
            }
        });
    });

    $('#btnAddMessage').click(function () {
        $('#ShowChatList').hide();
        $('#btnAddMessage').hide();
        $('#UserViewListForChat').show();

    });

    function ResetBtn() {
        $('#MessageBodyText').val('');
        MessageId_Global = 0;
    }

    function btnSubmitMessage(id) {

        let is_valid = true;
        $(".error-class").html('');
        var _mode = (MessageId_Global > 0) ? 2 : 1;

        let _Messagebodytext = $("#MessageBodyText").val().trim();

        let _error_Messagebodytext = $("#error_MessageBodyText");


        if (validate_IsEmptyStringInputFieldValue(_Messagebodytext)) {
                is_valid = false;
            _error_Messagebodytext.html('@(Resources.BusinessPanel.MessageTextRequired)');

            }


         if (is_valid) {
             var data = new FormData();

             data.append("Messagebody", _Messagebodytext);
             data.append('Mode', _mode);

            $.ajax({
                url: '/api/Message/AddUpdate?id='+id,
                headers: {
                    "Authorization": "Bearer " + UserToken_Global,
                },
                data: data,
                processData: false,
                mimeType: 'multipart/form-data',
                contentType: false,
                //contentType: 'application/json',
                type: 'POST',
                success: function () {

                    //--Parse into Json odataResponsef response-json-string
                    dataResponse = JSON.parse(dataResponse);

                    //--If successfully added/updated
                    if (dataResponse.status === 1) {
                        swal("Success!", dataResponse.message, "success");
                        GetMessageDetailById(id);
                        //GetMessageDetailById(dataResponse.data.Id);

                    }
                    else {
                        swal({
                            title: 'Error!',
                            icon: 'error',
                            text: dataResponse.message
                        });
                        StopLoading();
                        ResetBtn();
                        return;
                    }


                    StopLoading();

                },
                error: function (result) {
                    //StopLoading();


                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            });
        }

    }

    function GetMessageDetailById() {
        var id = $("#hdnUserloginId").val();

        btnMarkAsReadOrUnread(id);
        $('#btnAddMessage').val('');
          $('#ShowChatList').show();
        $('#UserViewListForChat').hide();
        $('#btnAddMessage').show();
        document.getElementById("pageTextchange").innerHTML = "View Message";
        document.getElementById("pageStageChange").innerHTML = "View Message";


          var _url = "/api/Message/MessageChatGetById?id=" + id ;

    $.ajax({
        type: "GET",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {
            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });
                return;
            }

            var htmlData4 = '';
            if (response.data.RecevierUserLoginDetail);
            {
                htmlData4 += `<div class="chat-input-container d-flex justify-content-between align-items-center">
            <input class="form-control flex-grow-1" type="text" id="MessageBodyText" placeholder="Say something...">

            <div class="error-class" id="error_MessageBodyText"></div>
            <button type="button" class="btn btn-secondary icon-button large" style="margin-right: -185px;" onclick=" btnSubmitMessage(${response.data.RecevierUserLoginDetail.UserLoginId});">
                <i class="simple-icon-arrow-right"></i>
            </button>
        </div>`;
            }
            $('#Arrow').html(htmlData4);

            var htmlData3 = '';

            if (response.data.RecevierUserLoginDetail) {
                htmlData3 += `<div class="col-12 chat-app"><div class="d-flex flex-row justify-content-between mb-3 chat-heading-container"><div class="d-flex flex-row chat-heading">
                        <a class="d-flex" href="#">
                            <img alt="Profile Picture" src="${response.data.RecevierUserLoginDetail.ProfileImageWithPath}"
                                 class="img-thumbnail border-0 rounded-circle ml-0 mr-4 list-thumbnail align-self-center small">
                        </a>
                        <div class=" d-flex min-width-zero">
                            <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                <div class="min-width-zero">
                                    <a href="#">
                                        <p class="list-item-heading mb-1 truncate ">${response.data.RecevierUserLoginDetail.FirstName}  ${response.data.RecevierUserLoginDetail.LastName} </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>
                       </div>
                    </div>`;

            }
            $('#MainStudentUser').html(htmlData3);

            var htmlData1 = '';

            //var htmlData2 = '';


            for (var i = 0; i < response.data.MessageList.length; i++) {

                var UserInfo1 = response.data.RecevierUserLoginDetail;
                if (response.data.MessageList[i].SenderUserLoginId == id) {
                    htmlData1 += `<div class="card  col-md-9 d-inline-block mb-3 mr-2" style="float: left;">
                                <div class="position-absolute pt-1 pr-2 r-0">
                                    <span class="text-extra-small text-muted">${response.data.MessageList[i].CreatedOn_FormatDate}    ${response.data.MessageList[i].Time}</span>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex flex-row pb-2">
                                        <a class="d-flex" href="#">
                                            <img alt="Profile Picture" src="${UserInfo1.ProfileImageWithPath}"
                                                 class="img-thumbnail border-0 rounded-circle mr-3 list-thumbnail align-self-center xsmall">
                                        </a>
                                        <div class=" d-flex flex-grow-1 min-width-zero">
                                            <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                                <div class="min-width-zero">
                                                    <p class="mb-0 truncate list-item-heading">   ${response.data.MessageList[i].Messagebody}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="chat-text-left">
                                        <p class="mb-0 text-semi-muted">

                                        </p>

                                    </div>
                                </div>
                            </div>`;
                }

                else {
                    var UserInfo = response.data.SenderUserLoginDetail;

                    htmlData1 += `<div class="card  col-md-9 d-inline-block mb-3 mr-2" style="float: right;">
                                <div class="position-absolute pt-1 pr-2 r-0">
                                    <span class="text-extra-small text-muted">${response.data.MessageList[i].CreatedOn_FormatDate}   ${response.data.MessageList[i].Time}</span>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex flex-row pb-2">
                                        <a class="d-flex" href="#">

                                        </a>
                                        <div class=" d-flex flex-grow-1 min-width-zero">
                                            <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                                <div class="min-width-zero">
                                                    <p class="mb-0 truncate list-item-heading"> ${response.data.MessageList[i].Messagebody}</p>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="chat-text-left">
                                        <p class="mb-0 text-semi-muted">

                                        </p>

                                    </div>
                                </div>
                            </div>`;


                }
            }

                $('#MessageView').html(htmlData1);

                // $('#StudentViewMessage').append(htmlData2);

        },

        error: function(result) {
            StopLoading();

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
    }


    ////// -----------    FIELD VALIDATION HANDLER FUNCTIONS  --------------------------

    const validate_IsEmptyStringInputFieldValue = function (inputFieldValue) {
        if (inputFieldValue == '' || inputFieldValue.replace(/\s/g, "") == "")
            return true;
        return false;
    }

    const validate_IsEmptySelectInputFieldValue = function (inputFieldValue) {
        if (inputFieldValue == undefined || inputFieldValue == null || inputFieldValue == '' || inputFieldValue == 0)
            return true;
        return false;
    }
    ////// -----------    FIELD VALIDATION HANDLER FUNCTIONS  --------------------------


    function GetStudentDetail() {



        var _url = "/api/Message/StudentListGetById";

    $.ajax({
        type: "GET",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {
            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });
                return;
            }


            var htmlData = '';

            for (var i = 0; i < response.data.StudentDetail.length; i++) {
                var newMessageCount = response.data.StudentDetail[i].ReceiverStatusCount;


                if (newMessageCount == 0) {
                    var element = "";

                }
                else {
                    var element = `
                     <span class="CountMessage"> ${newMessageCount}</span>
                          `;
                }

                htmlData += `
                    <a target="_blank" href="/Business/MessageChat?toUserLoginId=${encodeURIComponent(response.data.StudentDetail[i].EncryptedUserLoginId)} ">
                        <div class="card col-sm-12 mb-3 mr-2">
                            <div class="card-body">
                                <div class="d-flex flex-row pb-2">
                                    <img alt="Profile Picture" src="${response.data.StudentDetail[i].ProfileImage}"
                                            class="img-thumbnail border-0 rounded-circle mr-3 list-thumbnail align-self-center xsmall">
                                    <div class="flex-grow-1 min-width-zero">
                                        <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                            <div class="min-width-zero">
                                                <p class="mb-0 truncate list-item-heading">${response.data.StudentDetail[i].StudentName}</p>
                                            </div>
                                                ${element}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
        `;

            }

            $('#UserViewListForChat').append(htmlData);

        },

        error: function(result) {
            StopLoading();

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
    }
    ///Read  status


////
     function GetCountDetail() {



         var _url = "/api/Message/CountListGetById";

    $.ajax({
        type: "GET",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {
            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });
                return;
            }


            var htmlData = '';


            if (response.data.SenderCountDetail);
            {
                    htmlData += `
                              <span style="margin-left: 546px;" id="dv_AccordianHeader_"> <i class="fas fa-circle" aria-hidden="true"style="color: antiqueWhite;">${response.data.SenderCountDetail.SenderStatusCount}</i></span>
                        `;

            }

            $('#UserViewListForChat').append(htmlData);

        },

        error: function(result) {
            StopLoading();

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
    }
</script>

