
@using MasterZoneMvc.ViewModels;
@{
    var UserRole = Context.Items["UserRole"] as string;

    string ControllerNameForLinks = (UserRole == "BusinessAdmin") ? "Business" : "Staff";
    var Permissions = Context.Items["Permissions"] as List<PermissionHierarchy_VM>;
    List<PermissionHierarchy_VM> permissions = Permissions;
    List<string> permissionKeys = new List<string>();
    if (permissions.Count() > 0)
    {
        permissionKeys = permissions.Select(p => p.KeyName).ToList();
    }
}

<script>

    var UserToken_Global = "";
    $(document).ready(function () {

        $.get("/Business/GetBusinessAdminToken", null, function (dataToken) {
            if (dataToken != "" && dataToken != null) {
                UserToken_Global = dataToken;
                getAllTennisBookingDetails();
            }
            else {
                $.get("/Staff/GetStaffToken", null, function (dataToken) {
                    if (dataToken != "" && dataToken != null) {
                        UserToken_Global = dataToken;
                        getAllTennisBookingDetails();
                    }
                    else {
                        StopLoading();
                    }
                });
            }
        });

    });

    //-----get class booking details -------------------
    function getAllTennisBookingDetails() {
        let _url = "/api/Business/GetTennisBookingDetail";

      $.ajax({
          type: "GET",
          url: _url,
          headers: {
              "Authorization": "Bearer " + UserToken_Global,
              "Content-Type": "application/json"
          },

          contentType: 'application/json',
          success: function (response) {

              if (response.status < 1) {
                  $.iaoAlert({
                      msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                      type: "error",
                      mode: "dark",
                  });
                  return;

              }
              var _table = $('#tbltennisroomBookingDetails').DataTable();
              _table.clear().destroy();

              var sno = 0;
              var _purchasebtn = ``;
              var data = [];
              for (var i = 0; i < response.data.length; i++) {
                  sno ++;

                  var _ImageName = '';
                  _ImageName = `
                     <div class="d-flex align-items-center">
                         <div class="mr-2">
                             <img src="${response.data[i].TennisImage}" class="img-size-sm" />
                         </div>
                         <div>${response.data[i].TennisTitle}</div>
                     </div>`;
                  var _playercount = `${response.data[i].PlayerCount}`;
                  var _date = `${response.data[i].SelectDate}`;
                  var _roomTime = `${response.data[i].RoomTime}`;
                  var _fullTime = `${response.data[i].FullName}`;

                  var _action = `<div class="edbt ">`;
                  if (response.data[i].Request == 1 || response.data[i].Request == 0) {

                      _action += ` <a class="btn btn-sm  ml-4 acceptbtn"  value="2" onclick="ChangeStatus(2,'${response.data[i].Id}')">Accept</a>`;
                    _action += ` <a class="btn btn-sm  ml-4 rejectbtn"  value="3" onclick="ChangeStatus(3,'${response.data[i].Id}')">Reject</a>`;
                  }
                  else if (response.data[i].Request > 1) {
                      if (response.data[i].Request == 2) {
                          _action += ` <a class="btn btn-sm  ml-4 acceptbtn">Accepted</a>`;
                      }
                      else {
                         _action += ` <a class="btn btn-sm  ml-4 rejectbtn">Rejected</a>`;
                      }
                  }

                  _action += `</div>`;


                  data.push([
                      sno,
                      _ImageName,
                      _fullTime,
                      _playercount,
                      _date,
                      _roomTime,
                      _action
                  ]);

              }

              $('#tbltennisroomBookingDetails').DataTable({
                  "data": data,
                  "paging": true,
                  "lengthChange": true,
                  "searching": true,
                  "ordering": true,
                  "info": true,
                  "autoWidth": false,
                  "responsive": false,
              });

              StopLoading();
          },

          error: function (result) {
              StopLoading();

              if (result["status"] == 401) {
                  $.iaoAlert({
                      msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                      type: "error",
                      mode: "dark",
                  });
              }
              else {
                  $.iaoAlert({
                      msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                      type: "error",
                      mode: "dark",
                  });
              }
          }
      });

    }
    function ChangeStatus(status, id) {
        
        var _mode = 1;
        let _Requestvalue = status;

              var data = new FormData();
              data.append("Id", id);
             data.append("Request", _Requestvalue),
             data.append("Mode", 2),

        $.ajax({
            url: '/api/Booking/UpdateSportsBookingRequest?businessOwnerLoginId',
            headers: {
                "Authorization": "Bearer " + UserToken_Global
            },
            data: data,
            processData: false,
            mimeType: 'multipart/form-data',
            contentType: false,
            //contentType: 'application/json',
            type: 'POST',
            success: function (dataResponse) {

                    //--Parse into Json of response-json-string
                    dataResponse = JSON.parse(dataResponse);

                    //--If successfully added/updated
                if (dataResponse.status === 1) {
                    getAllTennisBookingDetails();
                        swal("Success!", dataResponse.message, "success");
                    }
                else {
                    swal({
                        title: dataResponse.message,
                        icon: 'error',
                        text: dataResponse.message
                    });
                }
                StopLoading();

            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }


</script>
