<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fonts awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!-- slick cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/assets/style.css">
    <!-- isotop filter -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!--Stylish Alert-->
    <link href="~/Content/lib/StylishAlert/iao-alert.css" rel="stylesheet" />
    <link href="~/Content/custom/css/common.css" rel="stylesheet" />
    <style>
        .single-footer-widget .footer-logo.mb-3 img {
            width: 30%;
        }
        .footer-logo.mb-3 {
            display: flex;
            align-items: center;
        }
        .error-class {
            color: red;
        }

        .sid-br-m-43dgg.d-none.d-md-block {
            height: 100% !important;
        }

        .para_logo {
            color: white;
        }

        a:hover {
            text-decoration: none;
        }
    </style>
    @RenderSection("Styles", false)
</head>
<body>
    @Html.Partial("_LoaderPartial")

    @* --------------------------     HEADER STARTS    ----------------------------------------------*@
    <!--<header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg w-100 navbar-dark hdnav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="close"><img src="~/Content/visitor-panel/image/cls.png"></span>
                </button>
                <a class="navbar-brand text-white d-md-none" href="/">Visitor Panel</a>
                <a class="navbar-brand col-md-2 text-white d-none d-md-block" href="/">Visitor Panel</a>

                <div class="col-md-10">
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link text-white" href="#">Blog <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/Business/Register">Register as a Professional</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Help</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/Business/Login">Login / Sign Up</a>
                            </li>
                        </ul>-->
    @*<form class="form-inline my-2 my-lg-0 d-none">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>*@
    <!--</div>
                </div>
            </nav>
        </div>
    </header>-->
    @* --------------------------     HEADER ENDS ----------------------------------------------*@

    <header class="header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg w-100 navbar-dark hdnav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="close"><img src="~/Content/visitor-panel/image/cls.png"></span>
                </button>
                <a class="navbar-brand text-white d-md-none ls01pjm ls01pjm" href="/">
                    <img src="@Resources.StaticResources.MasterzoneLogo" class="ls-p-lg mblg-ls mr-2"  style="box-shadow: none !important;">
                    <p class="m-0">MASTER ZONE</p>
                </a>
                <a class="navbar-brand col-md-2 text-white d-none d-md-block ls01pj" href="/">
                    <img src="@Resources.StaticResources.MasterzoneLogo" class="ls-p-lg mblg-ls  mr-2"  style="box-shadow: none !important;">
                    <p class="m-0 para_logo">MASTER ZONE</p>
                </a>

                <div class="col-md-10">
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                            <li class="nav-item">
                                <a class="nav-link text-white" href="/Business/Register">Register as a Professional</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Help</a>
                            </li>
                            <li id="li_LoginSignUp" class="nav-item">
                                <a class="nav-link text-white" href="/Home/Login">Login / Sign Up</a>
                            </li>
                            <li id="loginUser_HomeLayout" class="nav-item d-none">
                                <a class="nav-link text-white" href="/Home/MyClass"></a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0 d-none">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    @* --------------------------     RENDER BODY ----------------------------------------------*@
    @RenderBody()
    @* --------------------------     RENDER BODY ----------------------------------------------*@



    @* --------------------------     FOOTER STARTS ----------------------------------------------*@
    <!--<footer id="footer">
        <div class="container">
            <div class="row">-->
    <!-- Single Widget-->
    <!--<div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="single-footer-widget section_padding_0_130">-->
    <!-- Footer Logo-->
    <!--<div class="footer-logo mb-3"></div>
    <p>Master Zone is completely creative, lightweight, Clean Admin Dashboard.</p>-->
    <!-- Copywrite Text-->
    <!-- <div class="copywrite-text mb-5">
      <p class="mb-0">Made with <i class="lni-heart mr-1"></i>by<a class="ml-1" href="https://wrapbootstrap.com/user/DesigningWorld">Designing World</a></p>
    </div> -->
    <!-- Footer Social Area-->
    <!--<div class="footer_social_area">
                <a href="#" data-toggle="tooltip" data-placement="top" title=""
                   data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#"
                                                                                       data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                    <i class="fa fa-pinterest"></i>
                </a><a href="#" data-toggle="tooltip"
                       data-placement="top" title="" data-original-title="Skype">
                    <i class="fa fa-skype"></i>
                </a><a href="#" data-toggle="tooltip" data-placement="top"
                       title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>-->
    <!-- Single Widget-->
    <!--<div class="col-12 col-sm-6 col-lg mb-4">
        <div class="single-footer-widget section_padding_0_130">-->
    <!-- Widget Title-->
    <!--<h5 class="widget-title">About</h5>-->
    <!-- Footer Menu-->
    <!--<div class="footer_menu">
                <ul>
                    <li><a class="text-white" href="#">About Us</a></li>
                    <li><a class="text-white" href="#">Corporate Sale</a></li>
                    <li><a class="text-white" href="#">Terms &amp; Policy</a></li>
                    <li><a class="text-white" href="#">Community</a></li>
                </ul>
            </div>
        </div>
    </div>-->
    <!-- Single Widget-->
    <!--<div class="col-12 col-sm-6 col-lg mb-4">
        <div class="single-footer-widget section_padding_0_130">-->
    <!-- Widget Title-->
    <!--<h5 class="widget-title">Support</h5>-->
    <!-- Footer Menu-->
    <!--<div class="footer_menu">
                <ul>
                    <li><a class="text-white" href="#">Help</a></li>
                    <li><a class="text-white" href="#">Support</a></li>
                    <li><a class="text-white" href="#">Privacy Policy</a></li>
                    <li><a class="text-white" href="#">Term &amp; Conditions</a></li>
                    <li><a class="text-white" href="#">Help &amp; Support</a></li>
                </ul>
            </div>
        </div>
    </div>-->
    <!-- Single Widget-->
    <!--<div class="col-12 col-sm-6 col-lg mb-4">
        <div class="single-footer-widget section_padding_0_130">-->
    <!-- Widget Title-->
    <!--<h5 class="widget-title">Contact</h5>-->
    <!-- Footer Menu-->
    <!--<div class="footer_menu">
                    <ul>
                        <li><a class="text-white" href="#">Call Centre</a></li>
                        <li><a class="text-white" href="#">Email Us</a></li>
                        <li><a class="text-white" href="#">Term &amp; Conditions</a></li>
                        <li><a class="text-white" href="#">Help Center</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->
    <!-- <div class="row">
        <div class="col-6"><strong class="d-flex"><p> Copyright © 2023</p> <a href="/">     Master Zone.</a> <p>All rights reserved.</p></strong>

        </div>
        <div class="col-6">
            <div class="float-right d-none d-sm-inline-block">
                <a class="text-white" target="_blank" href="https://protolabzit.com/">
                    <p class="text-white" id="ftxt" style="color: #869099;
          font-size: 1rem;"> Developed &amp; Designed by: Protolabz eServices</p>
                </a>
            </div>
        </div>
    </div> -->
    <!--</div>

        <div class="copyrights border-top pt-3">
            <div class="container ">
                <div class="row">

                    <div class="col-sm-12 col-md-6">
                        <strong class="d-flex crptxt" style="white-space: nowrap;">
                            <p> Copyright © 2023</p> <a class="cpr mr-2 ml-2" href="/visitor-panel"> Master Zone.</a>
                            <p>All rights reserved.</p>
                        </strong>

                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="float-md-right d-sm-inline-block">
                            <a class="text-white" target="_blank" href="https://protolabzit.com/">
                                <p class="text-white text-center" id="ftxt" style="color: #869099;
              font-size: 1rem;"> Developed &amp; Designed by: Protolabz eServices</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>-->
    @* --------------------------     FOOTER ENDS ----------------------------------------------*@
    <footer id="footer">
        <div class="container">
            <div class="row">
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg-4 mb-4">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Footer Logo-->
                        <div class="footer-logo mb-3">
                            <img src="/Content/Uploads/MasterzoneLogo/logo.png" class="ls-p-lg mblg-ls  mr-2" style="box-shadow: none !important;">
                            <p class="para_logo">Master Zone is completely creative, lightweight, Clean Admin Dashboard.</p>
                        </div>
                        <!-- Copywrite Text-->
                        <!-- <div class="copywrite-text mb-5">
      <p class="mb-0">Made with <i class="lni-heart mr-1"></i>by<a class="ml-1" href="https://wrapbootstrap.com/user/DesigningWorld">Designing World</a></p>
    </div> -->
                        <!-- Footer Social Area-->
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title=""
                               data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#"
                                                                                                   data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                <i class="fa fa-pinterest"></i>
                            </a><a href="#" data-toggle="tooltip"
                                   data-placement="top" title="" data-original-title="Skype">
                                <i class="fa fa-skype"></i>
                            </a><a href="#" data-toggle="tooltip" data-placement="top"
                                   title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg mb-4">
                    <div class="col-12 col-sm-6 col-lg mb-4">
                        <div class="single-footer-widget section_padding_0_130">
                            <!-- Widget Title-->
                            <h5 class="widget-title">About</h5>
                            <!-- Footer Menu-->
                            <div class="footer_menu">
                                <ul>
                                    <li><a class="text-white" href="/Home/About">About Us</a></li>
                                    <li><a class="text-white" href="/Home/Contact">Contact Us</a></li>
                                    <li><a class="text-white" href="">Business Detail</a></li>
                                    <li><a class="text-white" href="/Home/BusinessListing">Find Business </a></li>
                                    <li>
                                        <a class="text-white" href="/Home/TermCondition">Terms &amp; Conditions</a>
                                    </li>
                                    <li><a class="text-white" href="/Home/Privacy">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg mb-4">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Widget Title-->
                        <h5 class="widget-title">Support</h5>
                        <!-- Footer Menu-->
                        <div class="footer_menu">
                            <ul>
                                <li><a class="text-white" href="#">Help</a></li>
                                <li><a class="text-white" href="#">Support</a></li>
                                <li><a class="text-white" href="#">Privacy Policy</a></li>
                                <li><a class="text-white" href="#">Term &amp; Conditions</a></li>
                                <li><a class="text-white" href="#">Help &amp; Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg mb-4">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Widget Title-->
                        <h5 class="widget-title">Contact</h5>
                        <!-- Footer Menu-->
                        <div class="footer_menu">
                            <ul>
                                <li><a class="text-white" href="#">Call Centre</a></li>
                                <li><a class="text-white" href="#">Email Us</a></li>
                                <li><a class="text-white" href="#">Term &amp; Conditions</a></li>
                                <li><a class="text-white" href="#">Help Center</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-6"><strong class="d-flex"><p> Copyright © 2023</p> <a href="/">     Master Zone.</a> <p>All rights reserved.</p></strong>

                </div>
                <div class="col-6">
                    <div class="float-right d-none d-sm-inline-block">
                        <a class="text-white" target="_blank" href="https://protolabzit.com/">
                            <p class="text-white" id="ftxt" style="color: #869099;
                  font-size: 1rem;"> Developed &amp; Designed by: Protolabz eServices</p>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="copyrights border-top pt-3">
            <div class="container ">
                <div class="row">

                    <div class="col-sm-12 col-md-6">
                        <strong class="d-flex crptxt" style="white-space: nowrap;">
                            <p> Copyright © 2023</p> <a class="cpr mr-2 ml-2" href="/"> Master Zone.</a>
                            <p>All rights reserved.</p>
                        </strong>

                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="float-md-right d-sm-inline-block">
                            <a class="text-white" target="_blank" href="https://protolabzit.com/">
                                <p class="text-white text-center" id="ftxt" style="color: #869099;
              font-size: 1rem;"> Developed &amp; Designed by: Protolabz eServices</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    @* --------------------------     SCRIPT TAGS ----------------------------------------------*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>

    <!--Stylish-ALERT-->
    <script src="/Content/lib/StylishAlert/iao-alert.jquery.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $(function () {
            $(window).on("scroll", function () {
                if ($(window).scrollTop() > 50) {
                    $(".header").addClass("active-h");
                } else {
                    //remove the background property so it comes transparent again (defined in your css)
                    $(".header").removeClass("active-h");
                }
            });
        });
    </script>


    <script src="/Scripts/js/site.js"></script>
    <script src="/Scripts/js/loader.js"></script>
    <script src="~/Scripts/js/visitor-panel/CommonLogin.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>
