<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fonts awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!-- slick cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/assets/style.css">
    <link href="~/Content/assets/Yoga-page.css" rel="stylesheet" />
    <!-- isotop filter -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    @RenderSection("Styles", false)
</head>

<body>
    @Html.Partial("_LoaderPartial")

    @* --------------------------     HEADER STARTS    ----------------------------------------------*@
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg w-100 navbar-dark hdnav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="close"><img src="~/Content/visitor-panel/image/cls.png"></span>
                </button>
                @*<a class="navbar-brand text-white d-md-none ls01pjm ls01pjm" href="/Home/Index">
                        <img src="" id="BindBusinessLogoDetail" class="ls-p-lg mblg-ls mr-2">
                        <p class="m-0" id="login_userName"></p>
                    </a>*@
                <a class="navbar-brand col-md-2 text-white d-md-block ls01pj" href="/Home/Index">
                    <div class="userdetails">
                        <img src="" id="BindBusinessLogoDetail" class="ls-p-lg mblg-ls  mr-2" style="border-radius: inherit;">
                        <p class="m-0" id="login_userName"></p>
                    </div>
                </a>

                <div class="col-md-10">
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#section-yoga-2">About</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#tab-image-gallery-section_id-3">Video</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#section-yoga-4">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#tab-image-gallery-section_id-5">Image</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#section-yoga-6">Classes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#section-yoga-7">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#section-yoga-8">Plans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#instructor-sectionid">Instructor</a>
                            </li>
                        </ul>
                        <a href="#sesction2-cnt" class="btn btn-outline-light bkclsjkjk">Contact</a>
                        <form class="form-inline my-2 my-lg-0 d-none">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    @* --------------------------     HEADER ENDS ----------------------------------------------*@



    @* --------------------------     RENDER BODY ----------------------------------------------*@
    @RenderBody()
    @* --------------------------     RENDER BODY ----------------------------------------------*@



    @* --------------------------     FOOTER STARTS ----------------------------------------------*@

    @* --------------------------     FOOTER ENDS ----------------------------------------------*@
    <footer id="footer" style="padding: inherit;">
        <div class="container">
            <div class="copyrights border-top pt-3" style="background-color: #f3a762;">
                <div class="container ">
                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                            <strong class="d-flex copyrights-text " style="white-space: nowrap;">
                                <p class="text-white"> Copyright © 2023</p> <a class="copyright-company-name mr-2 ml-2" href="index.html"> Master Zone.</a>
                                <p class="text-white">All rights reserved.</p>
                            </strong>

                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="float-md-right d-sm-inline-block">
                                <a class="text-white" target="_blank" href="https://protolabzit.com/">
                                    <p class="text-white text-center" id="footer-text" style="color: #869099;
    font-size: 1rem;"> Developed &amp; Designed by: Protolabz eServices</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    @* --------------------------     SCRIPT TAGS ----------------------------------------------*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <script>
        $(function () {
            $(window).on("scroll", function () {
                if ($(window).scrollTop() > 50) {
                    $(".header").addClass("active-h");
                } else {
                    //remove the background property so it comes transparent again (defined in your css)
                    $(".header").removeClass("active-h");
                }
            });
        });
    </script>
    
    <script src="~/Scripts/js/site.js"></script>
    <script src="~/Scripts/js/loader.js"></script>
    

    @RenderSection("Scripts", false)
</body>
</html>
@Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_YogaScriptPartial.cshtml")
