<script>
    var BusinessOwnerLoginId_Global = $("#hiddenBusinessOwnerLoginId").val();
    var recordLimit = 4;
    var Class_LastRecordedId_Global = 0;
    var AllClassDetailRecordedIdGlobal = 0;
    var CatgoryTypeIdGlobal = 0;
    var recordLimit = 10;

    $(document).ready(function () {
        GetMasterProfileAboutServiceDetail();
        GetBusinessAboutDetail();
        GetContactInformationDetail();
        GetContactDetail();
        GetAllBusinessTimingData();
        GetAllBusinessVideosList();
        GetEducationCourseWithCertificateAndExamDetailList();
        GetEducationCourseWithCertificateDetailList();
        GetAllBusinessBranchesDetailList();
        GetEventSectionDescription();
        GetAllEventDetail();
        GetBannerDetail();
        GetExploreDetailDetail();
        GetAllBusinessFindMasterProfileList('Training');
        GetAllBusinessClassesCategory();
        GetAllBusinessClassCategoryDetail();
        GetAllBusinessShowAllClassesCategoryDetail();
        GetAllBusinessContentUniversityDetailList();
    });

    //To Add The Contact Detail
     function btnSubmitUser() {

    let is_valid = true;

    $('.error-class').html('');
    let _name = $("#text_Contact_Name").val().trim();
    let _contact_email_address = $("#text_Email_Address").val().trim();
    let _contact_phone_detail = $("#text_phone").val();
    let _contact_messages = $("#text_Messages").val();

    let _error_name = $("#error_text_Contact_Name");
    let _error_contact_email_address = $("#error_text_Email_Address");
    let _error_contact_phone_detail = $("#error_text_phone");
    let _error_contact_messages = $("#error_text_Messages");

    var TestEmail = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
    var phone_test = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;

    if (validate_IsEmptyStringInputFieldValue(_name)) {
        is_valid = false;
        _error_name.html('@(Resources.VisitorPanel.NameRequired)');
    }

    if (validate_IsEmptyStringInputFieldValue(_contact_email_address)) {
        is_valid = false;
        _error_contact_email_address.html('@(Resources.VisitorPanel.EmailRequired)');
    }
    else if (!TestEmail.test(_contact_email_address)) {
        is_valid = false;
        _error_contact_email_address.html('@(Resources.VisitorPanel.ValidEmailRequired)');
    }

    if (validate_IsEmptyStringInputFieldValue(_contact_phone_detail)) {
        is_valid = false;
        _error_contact_phone_detail.html('@(Resources.VisitorPanel.PhoneNumberRequired)');
    }
    else if (_contact_phone_detail.indexOf(' ') >= 0) {
        is_valid = false;
        _error_contact_phone_detail.html('@(Resources.VisitorPanel.PhoneNumberNotEmptySpaceRequired)');
    }
    else if (!phone_test.test(_contact_phone_detail)) {
        is_valid = false;
        _error_contact_phone_detail.html('@(Resources.VisitorPanel.ValidPhoneNumberRequired)');
    }
    if (validate_IsEmptyStringInputFieldValue(_contact_messages)) {
        is_valid = false;
        _error_contact_messages.html('@(Resources.VisitorPanel.MessageRequired)');
    }

    if (is_valid) {
        StartLoading();

        var _Params = {
            "Name": _name,
            "EmailAddress": _contact_email_address,
            "PhoneNumber": _contact_phone_detail,
            "Message": _contact_messages,
            "businessOwnerLoginId": BusinessOwnerLoginId_Global
        };
        $.ajax({
            url: '/api/ContactDetail/SendContactUsMessage',
            data: JSON.stringify(_Params),
            processData: false,
            // mimeType: 'multipart/form-data',
            // contentType: false,
            contentType: 'application/json',
            type: 'POST',
            success: function (dataResponse) {

                //--If successfully sent
                if (dataResponse.status == 1) {
                    $.iaoAlert({
                        msg: '@(Resources.VisitorPanel.Contact_SuccessMessage)',
                        type: "success",
                        mode: "dark",
                    });
                }
                else {
                    swal({
                        title: dataResponse.message,
                        icon: 'error',
                        text: dataResponse.message
                    });
                }
                StopLoading();

            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    }

    ////// -----------    FIELD VALIDATION HANDLER FUNCTIONS  --------------------------

    const validate_IsEmptyStringInputFieldValue = function (inputFieldValue) {
        if (inputFieldValue == '' || inputFieldValue.replace(/\s/g, "") == "")
            return true;
        return false;
    }

    const validate_IsEmptySelectInputFieldValue = function (inputFieldValue) {
        if (inputFieldValue == undefined || inputFieldValue == null || inputFieldValue == '' || inputFieldValue == 0)
            return true;
        return false;
    }
    ////// -----------    FIELD VALIDATION HANDLER FUNCTIONS  --------------------------



    // Bind About Detail
    function GetMasterProfileAboutServiceDetail() {
        $.ajax({
            type: "GET",
            url: '/api/Business/GetBusinessContentAboutDetail_Get?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }


                var htmlBusinessContentAboutImageDetail = '';
                if (response.data.BusinessAboutDetail === null) {
                    $("#BindAboutImageDetail").addClass();
                }
                else {
                    htmlBusinessContentAboutImageDetail = `<img src="${response.data.BusinessAboutDetail.AboutImageWithPath}" alt="sports">`;

                $("#BindAboutImageDetail").append(htmlBusinessContentAboutImageDetail);
                }




                var htmlBusinessContentAboutDetail = '';
                if (response.data.BusinessAboutDetail === null) {
                    $("#BindBusinessAboutDetail").addClass();
                }
                else {
                    htmlBusinessContentAboutDetail = `
                        <h4><span class="highlight">${response.data.BusinessAboutDetail.Title} </span> </h4>
                        <p>  ${response.data.BusinessAboutDetail.SubTitle}</p>
                        <p>
                                ${response.data.BusinessAboutDetail.Description}
                        </p>`;


                    $("#BindBusinessAboutDetail").append(htmlBusinessContentAboutDetail);
                }


                var BusinessContentAboutServiceDetail = '';

                if (response.data.BusinessAboutServiceDetail.length === 0) {
                    $(".about-section").addClass('d-none');
                } else {
                    for (var i = 0; i < response.data.BusinessAboutServiceDetail.length; i++) {
                        BusinessContentAboutServiceDetail += `<div class="icon-text">
                            <div class="icon-in">
                                <img src="${response.data.BusinessAboutServiceDetail[i].AboutServiceIconWithPath}" alt="icon" loading="lazy">
                            </div>
                            <div class="text">
                                <h6>${response.data.BusinessAboutServiceDetail[i].AboutServiceTitle}</h6>
                                <p>${response.data.BusinessAboutServiceDetail[i].AboutServiceDescription}</p>
                            </div>
                        </div>`;

                    }

                }
                $("#BindAboutServiceDetail").append(BusinessContentAboutServiceDetail);


                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    // Bind Business logo & About Detail
    function GetBusinessAboutDetail() {
        $.ajax({
            type: "GET",
            url: '/api/Business/GetBusinessContentAboutDetail?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }

                var BusinessLogoDetail = '';
                if (response.data === null) {
                    $("#BindBusinessLogoDetail").addClass('d-none');
                }
                else {
                    BusinessLogoDetail = ` <a href="/Home/BusinessProfile?businessOWnerLoginId= ${BusinessOwnerLoginId_Global}">
                        <img src="${response.data.BusinessLogoWithPath}" alt="logo" loading="lazy">
                       
                    </a>`;
                    $("#BindBusinessLogoDetail").append(BusinessLogoDetail);

                }

                var htmlBusinessAboutDetail = '';
                if (response.data === null) {
                    $(".footer").addClass('d-none');
                } else {
                    var fullAbout = response.data.About;
                    var maxLength = 130;
                    var truncatedAbout = ``;
                    if (fullAbout.length > maxLength) {
                        truncatedAbout = fullAbout.substr(0, maxLength) + '...';
                    } else {
                        truncatedAbout = fullAbout + '...';

                    }

                    htmlBusinessAboutDetail += `<a href="/Home/BusinessProfile?businessOWnerLoginId=${BusinessOwnerLoginId_Global}">
                                            <img src="${response.data.BusinessLogoWithPath}" alt="logo" loading="lazy">
                                        </a>
                                        <div class="logo-title">
                                            <h6>${response.data.BusinessName}</h6>
                                        </div>
                                    <p class="small"> ${truncatedAbout}<a href="#BindBusinessAboutDetail">Read More</a></p>`;
                }

                $("#BinsBusinessContentAboutDetail").append(htmlBusinessAboutDetail);
                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    //Bind  Footer Business Contact Detail
    function GetContactInformationDetail() {
        $.ajax({
            type: "GET",
            url: '/api/Business/GetBusinessContactDetail?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }


                var BusinessSocial = ''; // Declare BusinessSocial variable

             
                if (response.data.BusinessTimingDetail.FacebookProfileLink && response.data.BusinessTimingDetail.FacebookProfileLink !== "") {
                    BusinessSocial += `<div class="social-icon">
                        <a href="${response.data.BusinessTimingDetail.FacebookProfileLink}"><i class="fa-brands fa-facebook-f"></i></a>
                    </div>`;
                }

                if (response.data.BusinessTimingDetail.TwitterProfileLink && response.data.BusinessTimingDetail.TwitterProfileLink !== "") {
                    BusinessSocial += `<div class="social-icon">
                                <a href="${response.data.BusinessTimingDetail.TwitterProfileLink}"><i class="fa-brands fa-twitter"></i></a>
                            </div>`;
                }

                if (response.data.BusinessTimingDetail.LinkedInProfileLink && response.data.BusinessTimingDetail.LinkedInProfileLink !== "") {
                    BusinessSocial += `<div class="social-icon">
                            <a href="${response.data.BusinessTimingDetail.LinkedInProfileLink}"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>`;
                }
                $("#BusinessSocialDetail_Footer").append(BusinessSocial);

                var htmlBusinessContactDetail = '';


                if (response.data.BusinessTimingDetail === null) {

                    $("#BindBusinessContactDetail").addClass('d-none');
                }
                else {
                    htmlBusinessContactDetail = ` <h5>Contact Us</h5>
                    <p>
                      ${response.data.BusinessTimingDetail.Address}
                    </p>
                    <a href=${response.data.BusinessTimingDetail.PhoneNumber}">${response.data.BusinessTimingDetail.PhoneNumber}</a>
                    <a href="${response.data.BusinessTimingDetail.Email}">${response.data.BusinessTimingDetail.Email}</a>`;


                    $("#BindContactDetailInformation").append(htmlBusinessContactDetail);
                }



                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }


    //Bind Business Contact Detail
    function GetContactDetail() {
        $.ajax({
            type: "GET",
            url: '/api/Business/GetBusinessContactDetail?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }


                var BusinessSocial = ''; // Declare BusinessSocial variable


                if (response.data.BusinessTimingDetail.FacebookProfileLink && response.data.BusinessTimingDetail.FacebookProfileLink !== "") {
                    BusinessSocial += `<div class="social-icon">
                                <a href="${response.data.BusinessTimingDetail.FacebookProfileLink}"><i class="fa-brands fa-facebook-f"></i></a>
                            </div>`;
                }

                if (response.data.BusinessTimingDetail.TwitterProfileLink && response.data.BusinessTimingDetail.TwitterProfileLink !== "") {
                    BusinessSocial += `<div class="social-icon">
                        <a href="${response.data.BusinessTimingDetail.TwitterProfileLink}"><i class="fa-brands fa-twitter"></i></a>
                    </div>`;
                }

                if (response.data.BusinessTimingDetail.LinkedInProfileLink && response.data.BusinessTimingDetail.LinkedInProfileLink !== "") {
                                BusinessSocial += `<div class="social-icon">
                    <a href="${response.data.BusinessTimingDetail.LinkedInProfileLink}"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>`;
                }

                var htmlBusinessContactDetail = '';


                if (response.data === null) {
                    htmlBusinessContactDetail = '<div class="w-100 font-italic text-center text-black-50 py-2">No Other Profile  Detail. </div>';
                    $("#BindBusinessContactDetail").html(htmlBusinessContactDetail);
                }
                else {
                    htmlBusinessContactDetail = `    <div class="d-flex ">
                            <div class="icon">
                                <i class="fa-solid fa-location-crosshairs"></i>
                            </div>

                            <span> ${response.data.BusinessTimingDetail.Address}</span>
                        </div>
                        <div class="contact_info_iner">
                            <div class="d-flex">

                                <div class="icon">
                                    <i class="fa-solid fa-phone-volume"></i>
                                </div>

                                <span> <a href="${response.data.BusinessTimingDetail.PhoneNumber}">${response.data.BusinessTimingDetail.PhoneNumber}</a></span>
                            </div>
                            <div class="d-flex">
                                <div class="icon">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <span><a href="${response.data.BusinessTimingDetail.Email}">${response.data.BusinessTimingDetail.Email}</a></span>
                            </div>
                        </div>
                        <div class="social-main">
                            <div class="social-title">
                                <h6>Social Follow</h6>
                            </div>
                            <div class="social-follow">
                                 ${BusinessSocial}
                            </div>

                        </div>`;

                }


                $("#BindBusinessContactDetail").append(htmlBusinessContactDetail);


                var BusinessContactInformation = '';
                if (response.data.BusinessContactInformation === null) {
                    BusinessContactInformation = '<div class="w-100 font-italic text-center text-black-50 py-2">No Contact Information  Detail. </div>';
                    $("#BindContactInfomation").html(BusinessContactInformation);
                }
                else {
                    BusinessContactInformation = `<h2>${response.data.BusinessContactInformation.Title}</h2>

                        <p>  ${response.data.BusinessContactInformation.Description}</p>`;

                    $("#BindContactInfomation").append(BusinessContactInformation);

                }





                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }
    // Bind Business Videos
    function GetAllBusinessVideosList() {

        $.ajax({
            type: "GET",
            url: '/api/BusinessContentVideo/GetBusinessContentVideos?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }


                var VideoDisplay = '';
                if (response.data.BusinessContentVideo == null) {
                    $("#SingleVideoDetail").addClass('d-none');
                } else {
                    var _firstVideo = ``;
                    if (response.data.BusinessContentVideoList.length > 0) {
                        _firstVideo = `<iframe width="100%" height="350" src="${"https://www.youtube.com/embed/" + response.data.BusinessContentVideoList[0].VideoLink}" frameborder="0" allowfullscreen></iframe>`;
                    }
                    var fulldisplayvideo = `${_firstVideo}`;

                    $("#SingleVideoDetail").html(fulldisplayvideo);

                    var Videocontent = `
                        <h2> ${response.data.BusinessContentVideo.Title}</h2>
                        <p>
                           ${response.data.BusinessContentVideo.VideoDescription}
                        </p>`;
                }

                $("#Video_content").html(Videocontent);




                var VideothumbnailList = '';
                if (response.data.BusinessContentVideoList.length === 0) {
                    $(".gallery-section").addClass('d-none');
                }
                else {
                    for (var i = 0; i < response.data.BusinessContentVideoList.length; i++) {
                        VideothumbnailList += `<div class="video-items" style="margin: inherit;" id="BindVideoThumbNail_${response.data.BusinessContentVideoList[i].Id}"  >
                            <img src="${response.data.BusinessContentVideoList[i].VideoThumbNailImageWithPath}" class="imageDisplay" onclick="ShowingVideo('${"https://www.youtube.com/embed/" + response.data.BusinessContentVideoList[i].VideoLink}',${response.data.BusinessContentVideoList[i].Id});"/>
                        </div>`;


                    }
                    $("#BusinessVideoDetail").append(VideothumbnailList);
                }

                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    function ShowingVideo(videoLink, id) {
        $(".video-items").removeClass('activeThumbNail');
        $("#BindVideoThumbNail_" + id).addClass('activeThumbNail');

        $("#SingleVideoDetail").html('');
        var fullVideoDisplay = `<iframe width="100%" height="350" src="${videoLink}" frameborder="0" allowfullscreen></iframe>`;

        $("#SingleVideoDetail").html(fullVideoDisplay);
    }





    function GetEventSectionDescription() {

           $.ajax({
        type: "GET",
               url: '/api/Business/GetBusinessContentEventDescriptionForVisitorPanel?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
        contentType: 'application/json',
        success: function (response) {
            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });
                return;
            }
            var BindEventDetail = '';

            if (response.data == null) {

                $("#BindEventDescription").addClass('d-none');
            }
            else {
                BindEventDetail = `
                            ${response.data.Description}
                       `;
                $("#BindEventDescription").append(BindEventDetail);
            }


            StopLoading();
        },
        error: function (result) {
            StopLoading();

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
    }


    function GetAllEventDetail() {

        $.ajax({
            type: "GET",
            url: '/api/Business/GetUpcomingEventsListWithAdditionalData?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }




                if (response.data.BusinessUpcomingEvents.length <= 0) {
                    $(".event-slider-sec").addClass('d-none');
                } else {


                    for (var i = 0; i < response.data.BusinessUpcomingEvents.length; i++) {

                        var formattedStartTime = moment(response.data.BusinessUpcomingEvents[0].StartTime_24HF, "HH:mm").format("h:mm A");
                        var formattedEndTime = moment(response.data.BusinessUpcomingEvents[0].EndTime_24HF, "HH:mm").format("h:mm A");
                        var _StartTime = moment(response.data.BusinessUpcomingEvents[i].StartTime_24HF, "HH:mm").format("h:mm A");
                        var _EndTime = moment(response.data.BusinessUpcomingEvents[i].EndTime_24HF, "HH:mm").format("h:mm A");
                        var BusinessEventDetail = `<div class="sm-cards-iner" style="display: flex;" onclick="ShowingEventDetail('${response.data.BusinessUpcomingEvents[i].EventFeaturedImageWithPath}','${response.data.BusinessUpcomingEvents[i].StartDay}', '${response.data.BusinessUpcomingEvents[i].StartMonth}','${response.data.BusinessUpcomingEvents[i].StartYear}','${response.data.BusinessUpcomingEvents[i].ShortDescription}', '${response.data.BusinessUpcomingEvents[i].Title}','${response.data.BusinessUpcomingEvents[i].Id}','${_StartTime}','${_EndTime}');">
                    <div class="event-sm-items">
                        <div class="img-card">
                            <img src="${response.data.BusinessUpcomingEvents[i].EventFeaturedImageWithPath}"  alt="img" loading="lazy" >
                        </div>
                        <div class="card-content">
                            <h6>${response.data.BusinessUpcomingEvents[i].Title}</h6>
                            <p class="date">${response.data.BusinessUpcomingEvents[i].StartDay} ${response.data.BusinessUpcomingEvents[i].StartMonth} , ${response.data.BusinessUpcomingEvents[i].StartYear}</p>
                           
                        </div>
                    </div>
                </div>`;
                        $("#BindBusinessEventDetailList").append(BusinessEventDetail);


                        var EventDetailDisplay = `<div class="event-flex">

                    <div class="event-left">
                        <div class="event-img">

                            <img src="${response.data.BusinessUpcomingEvents[0].EventFeaturedImageWithPath}" alt="events" loading="lazy">

                            <div class="slider-cap">
                                <p><strong>${response.data.BusinessUpcomingEvents[0].Title}</strong></p>
                                <span class="date">${response.data.BusinessUpcomingEvents[0].StartDay} ${response.data.BusinessUpcomingEvents[0].StartMonth}, ${response.data.BusinessUpcomingEvents[0].StartYear}</span>
                                 <p><span class="date">${formattedStartTime}</span>
                                 To
                                  <span class="date">${formattedEndTime}</span>
                                  </p>
                            </div>
                        </div>

                                <div class="event-right">
                                    <div class="event-dtls">
                                        <h3 class="title-heading">${response.data.BusinessUpcomingEvents[0].ShortDescription}</h3>
                                        <div class="description">
                                            <p>${response.data.BusinessUpcomingEvents[0].ShortDescription} </p>
                                        </div>
                                        <div>
                                        <a target="_blank" class="arrow-right" href="/Home/Event?eventId=${response.data.BusinessUpcomingEvents[0].Id}">
                                            <svg fill="#000000" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.707,17.707a1,1,0,0,1-1.414-1.414L19.586,13H2a1,1,0,0,1,0-2H19.586L16.293,7.707a1,1,0,0,1,1.414-1.414l5,5a1,1,0,0,1,0,1.414Z" /></svg>
                                        </a>
                                        <a target="_blank" href="/Home/Event?eventId=${response.data.BusinessUpcomingEvents[0].Id}" class="btn btn-sm readmorebtn">Read More</a>
                                    </div>

                                </div>
                            </div>
                        </div>`;

                        $("#BindBusinessSingleEventDetail").html(EventDetailDisplay);
                        //$('#BindBusinessSingleEventDetail').slick({
                        //    slidesToShow: 4,
                        //    slidesToScroll: 4,
                        //    dots: false,
                        //    arrows: false,
                        //    focusOnSelect: false,
                        //    infinite: false,
                        //});
                    }

                }


            },

            error: function(result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    function ShowingEventDetail(eventFeaturedImageWithPath, startDay, startMonth, startYear, shortDescription, title, id, StartTime, EndTime) {


        $("#BindBusinessSingleEventDetail").html('');
        var EventDetailDisplay = `   <div class="event-flex">

                    <div class="event-left">
                        <div class="event-img">
                            <img src="${eventFeaturedImageWithPath}" alt="events" loading="lazy">
                            <div class="slider-cap">
                                <p><strong>${title}</strong></p>
                                <span class="date">${startDay} ${startMonth}, ${startYear}</span>
                                <p><span class="date">${StartTime}</span>
                                    To
                                     <span class="date">${EndTime}</span>
                                     </p>
                            </div>
                        </div>

                        <div class="event-right">

                            <div class="event-dtls">
                                <h3 class="title-heading">${shortDescription}</h3>
                                <div class="description">
                                    <p>${title} </p>
                                </div>
                                   <div>
                                    <a target="_blank" class="arrow-right" href="/Home/Event?eventId=${id}">
                                        <svg fill="#000000" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.707,17.707a1,1,0,0,1-1.414-1.414L19.586,13H2a1,1,0,0,1,0-2H19.586L16.293,7.707a1,1,0,0,1,1.414-1.414l5,5a1,1,0,0,1,0,1.414Z" /></svg>
                                    </a>
                                    <a target="_blank" href="/Home/Event?eventId=${id}" class="btn btn-sm readmorebtn">Read More</a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>`;

        $("#BindBusinessSingleEventDetail").html(EventDetailDisplay);
    }


    // Bind Banner Detail
    function GetBannerDetail() {

        $.ajax({
            type: "GET",
            url: '/api/Business/GetBusinessbanner?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }

                var BannerDetail = '';
                if (response.data === null) {
                    BannerDetail = ` <video width="100%" height="100%" autoplay muted loop>
                                <source src="/Content/videos/ScreenFlow.mp4" type="video/mp4">
                            </video>
                            <div class="banner-content">

                            </div>`;


                    $("#BindBusinessBannerDetail").append(BannerDetail);
                }

                else {

                    BannerDetail = ` <video width="100%" height="100%" autoplay muted loop>
                                <source src="${response.data.BannerImageWithPath}" type="video/mp4">
                            </video>
                            <div class="banner-content">
                                <h1>${response.data.Title}</h1>
                                <h4>${response.data.SubTitle}</h4>
                            </div>`;


                $("#BindBusinessBannerDetail").append(BannerDetail);
                }


                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }



    //Bind Explore Deetail
    function GetExploreDetailDetail() {

        $.ajax({
            type: "GET",
            url: '/api/MasterProfile/GetBusinessContentExploreMasterProfileDetail_ForVisitorPanel?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }

                var ExploreDetail = '';
                if (response.data === null) {
                    $(".our-training-section").addClass('d-none');
                }
                else {

                    ExploreDetail = `<h2>${response.data.Title}</h2>
                <p>
                   ${response.data.Description}
                </p>`;
                }



                $("#BindBusinessExploreDetail").append(ExploreDetail);


                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    // Bind Find Explore Section

    function GetAllBusinessFindMasterProfileList(exploreType) {

        var ExploreTypeGlobal = exploreType;
        $.ajax({
            type: "GET",
            url: '/api/MasterProfile/GetBusinessContentFindMasterProfileDetail_ForVisitorPanel?exploreType=' + ExploreTypeGlobal,

            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }
                var Schedulelink = ``;
                if (exploreType == 'Training') {

                    Schedulelink = `<a target="_blank" class="primary-button" href="/Home/InstructorResearch?menuTag=all&itemType=trainings&userloginId=${BusinessOwnerLoginId_Global}">View Schedule</a>`;
                }
                else if (exploreType == 'Instructor') {
                    Schedulelink = `<a target="_blank" class="primary-button" href="/Home/InstructorResearch?menuTag=all&itemType=instructors&userloginId=${BusinessOwnerLoginId_Global}">View Schedule</a>`;
                }
                else if (exploreType == 'Classes') {
                    Schedulelink = `<a target="_blank" class="primary-button" href="/Home/InstructorResearch?menuTag=all&itemType=classes&userloginId=${BusinessOwnerLoginId_Global}">View Schedule</a>`;
                }
                else if (exploreType == 'Event')
                {
                    Schedulelink = `<a target="_blank" class="primary-button" href="/Home/InstructorResearch?menuTag=all&itemType=events&userloginId=${BusinessOwnerLoginId_Global}">View Schedule</a>`;
                }




                $("#BindBusinessContentFindMasterProfileDetailList").html('');
                var FindMasterProfileDisplay = '';
                if (response.data.length === 0) {
                    $("#BindBusinessContentFindMasterProfileDetailList").addClass('d-none');
                }
                else {
                    for (var i = 0; i < response.data.length; i++) {
                        var FindMasterProfileDisplay = ` <div class="tab-img" id="training_one">
                            <img src="${response.data[i].ImageWithPath}" alt="img" loading="lazy">
                            <div class="box-text">
                                <h3>${response.data[i].Title}</h3>
                                <p>
                                    ${response.data[i].Description}
                                </p>
                                ${Schedulelink}
                            </div>

                        </div>`;


                    $("#BindBusinessContentFindMasterProfileDetailList").append(FindMasterProfileDisplay);
                    }
                }





                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    //Bind   Classes Category  Detail List
    function GetAllBusinessClassesCategory(categoryTypeId) {
        $('.CategoryCommonClass').removeClass('is-checked');
        $("#CategorySingleClass_" + categoryTypeId).addClass('is-checked');
        $("#BtnViewMoreAllClass").addClass('d-none');


         CatgoryTypeIdGlobal = categoryTypeId;
        $.ajax({
            type: "GET",
            url: '/api/MasterProfile/GetClassesCategoryTypeDetailList?businessOwnerLoginId=' + BusinessOwnerLoginId_Global + '&categoryTypeId=' + CatgoryTypeIdGlobal + '&lastRecordId=0',
            //headers: {
            //    "Authorization": "Bearer " + UserToken_Global,
            //    "Content-Type": "application/json"
            //},
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }
                $("#BindBusinessShowAllClassDetail").html('');
                var classList = '';

                if (response.data.length <= 0) {
                    // No data, show a message
                    $('#BindBusinessShowAllClassDetail').addClass('d-none');
                    $('#BtnViewMoreAllClassCategory').addClass('d-none');
                    StopLoading();
                    return;
                }
                if (response.data.length <= 0) {
                    Class_LastRecordedId_Global = response.data[response.data.length - 1].Id;
                    $('#BtnViewMoreAllClassCategory').addClass('d-none');


                } else {
                    // No more data, hide the "View More" button
                    $('#BtnViewMoreAllClassCategory').removeClass('d-none');
                }

                for (var i = 0; i < response.data.length; i++) {
                    if (response.data.length < recordLimit) {

                        $("#BtnViewMoreAllClassCategory").addClass('d-none');
                    }
                     classList += `<div class="element-item  ${response.data[i].ClassCategoryTypeId}" data-category="CategoryId_${categoryTypeId}">
                    <a class="card-link" href="/Home/ClassDetail?classId=${response.data[i].Id}&businessOwnerLoginId=${BusinessOwnerLoginId_Global}"></a>
                    <div class="card-iner">
                        <div class="img-dance">
                            <img src="${response.data[i].ClassImageWithPath}" alt="img" loading="lazy">
                        </div>
                        <div class="dance-text">
                            <h6>${response.data[i].Name}</h6>
                            <p>
                               ${response.data[i].Description}
                            </p>
                        </div>
                  </div>
                    </div>
               `;



                }
                    $("#BindBusinessShowAllClassDetail").append(classList);
            //    var ViewCategoryTypeDetailButton = '';
            //      ViewCategoryTypeDetailButton = `<div class="show-cta">
            //    <a class="primary-button" href="javascript:ViewMoreAllClassCategoryDetail( ${response.data[i].ClassCategoryTypeId});"  id="BtnViewMoreAllClassCategory">show more</a>
            //</div>`;
            //    $("#BindBusinessShowAllClassDetail").append(ViewCategoryTypeDetailButton);

                // Check if there is more data to load

                CatgoryTypeIdGlobal = 0;



                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    // Bind Business LastRecord View Classes Category Detail

    function ViewMoreAllClassCategoryDetail() {
        $.ajax({
            type: "GET",
            url: '/api/MasterProfile/GetClassesCategoryTypeDetailList?businessOwnerLoginId=' + BusinessOwnerLoginId_Global + '&categoryTypeId=' + CatgoryTypeIdGlobal + '&lastRecordId=' + Class_LastRecordedId_Global,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }

                var classList = '';

                $("#BindBusinessShowAllClassDetail").html('');
                for (var i = 0; i < response.data.length; i++) {

                     classList += `
                       <div class="element-item ${response.data[i].ClassCategoryTypeId} " data-category="${response.data[i].ClassCategoryTypeId}">
                    <a class="card-link" href="course-details.html"></a>
                    <div class="card-iner">
                        <div class="img-dance">
                            <img src="${response.data[i].ClassImageWithPath}" alt="img" loading="lazy">
                        </div>
                        <div class="dance-text">
                            <h6>${response.data[i].Name}</h6>
                            <p>
                               ${response.data[i].Description}
                            </p>
                        </div>
                  </div>
                    </div>`;



                }
                    $("#BindBusinessShowAllClassDetail").append(classList);
                // Check if there is more data to load
                if (response.data.length > recordLimit) {
                    Class_LastRecordedId_Global = response.data[response.data.length - 1].Id;
                    $('#BtnViewMoreAllClassCategory').removeClass('d-none');


            //        var ViewCategoryTypeDetailButton = '';
            //        ViewCategoryTypeDetailButton = `<div class="show-cta">
            //    <a class="primary-button" href="javascript:ViewMoreAllClassCategoryDetail(${categoryTypeId});"  id="BtnViewMoreAllClassCategory">show more</a>
            //</div>`;
            //        $("#BindBusinessShowAllClassDetail").append(ViewCategoryTypeDetailButton);



                } else {
                    // No more data, hide the "View More" button
                    $('#BtnViewMoreAllClassCategory').addClass('d-none');
                }



                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    // Bind Class Category Detail List
    function GetAllBusinessClassCategoryDetail() {

        $.ajax({
            type: "GET",
            url: '/api/Business/GetBusinessAllClassCategoryList?businessOwnerLoginid=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }

                var ShowClassBtn = '';
                ShowClassBtn = ` <a class="button is-checked CategoryCommonClass" id="ShowAllCategoriesClassTab" data-filter="*" href="javascript:GetAllBusinessShowAllClassesCategoryDetail();">show all</a>`;
                $("#BindBusinessClassCategoryDetail").append(ShowClassBtn);

                var classList = '';

                if (response.data.length <= 0) {
                    // No data, show a message
                    $('.our-courses').addClass('d-none');

                }

                for (var i = 0; i < response.data.length; i++) {

                    var classList = `  <button class="button CategoryCommonClass" id="CategorySingleClass_${response.data[i].Id}" data-filter=".CategoryId_${response.data[i].Id}" onclick="GetAllBusinessClassesCategory(${response.data[i].Id})">${response.data[i].CategoryName}</button>`;


                    $("#BindBusinessClassCategoryDetail").append(classList);

                }




                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }



    // Bind Show All Category Classes Detail
    function GetAllBusinessShowAllClassesCategoryDetail() {
        $('.CategoryCommonClass').removeClass('is-checked');
        $("#ShowAllCategoriesClassTab").addClass('is-checked');
        $("#BtnViewMoreAllClassCategory").addClass('d-none');

        $.ajax({
            type: "GET",
            url: '/api/MasterProfile/GetShowAllClassesDetail?businessOwnerLoginId=' + BusinessOwnerLoginId_Global + '&lastRecordId=0',
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }
                $("#BindBusinessShowAllClassDetail").html('');
                var classList = '';

                if (response.data.length <= 0) {
                    // No data, show a message
                    $('#BindBusinessShowAllClassDetail').addClass('d-none');
                    $('#BtnViewMoreAllClass').addClass('d-none');
                    StopLoading();
                    return;
                }
                if (response.data.length <= 0) {
                    $('#BtnViewMoreAllClass').addClass('d-none');
                }
                else {
                    AllClassDetailRecordedIdGlobal = response.data[response.data.length - 1].Id;
                    $('#BtnViewMoreAllClass').removeClass('d-none');
                }
                for (var i = 0; i < response.data.length; i++) {

                    var truncatedDescription = response.data[i].Description;
                    var maxLength = 20;
                    if (truncatedDescription.length > maxLength) {
                        truncatedDescription = truncatedDescription.substr(0, maxLength) + '...';
                    }

                    if (response.data.length < recordLimit) {
                        $("#BtnViewMoreAllClass").addClass('d-none');
                    }
                         classList += `<div class="element-item ${response.data[i].Name}" data-category="*">
                             <a class="card-link" href="/Home/ClassDetail?classId=${response.data[i].Id}&businessOwnerLoginId=${BusinessOwnerLoginId_Global}"></a>

                             <div class="card-iner">
                                 <div class="img-dance">
                                     <img src="${response.data[i].ClassImageWithPath}" alt="img" loading="lazy">
                                 </div>
                                 <div class="dance-text">
                                     <h6>${response.data[i].Name}</h6>
                                     <p>
                                        ${truncatedDescription}
                                     </p>
                                 </div>
                         </div>
                         </div>
                         `;


                }
                    $("#BindBusinessShowAllClassDetail").append(classList);


                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }



    // Bind All More View Classes Detail
    function ViewMoreAllClasses() {

        $.ajax({
            type: "GET",
            url: '/api/MasterProfile/GetClassesCategoryTypeDetailList?businessOwnerLoginId=' + BusinessOwnerLoginId_Global + '&lastRecordId=' + AllClassDetailRecordedIdGlobal,
            //headers: {
            //    "Authorization": "Bearer " + UserToken_Global,
            //    "Content-Type": "application/json"
            //},
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }

                var classList = '';

                $("#BindBusinessShowAllClassDetail").html('');
                for (var i = 0; i < response.data.length; i++) {

                    var classList = `
                       <div class="element-item ${response.data[i].ClassCategoryTypeId} " data-category="yoga">
                    <a class="card-link" href="course-details.html"></a>
                    <div class="card-iner">
                        <div class="img-dance">
                            <img src="${response.data[i].ClassImageWithPath}" alt="img" loading="lazy">
                        </div>
                        <div class="dance-text">
                            <h6>${response.data[i].Name}</h6>
                            <p>
                               ${response.data[i].Description}
                            </p>
                        </div>
                  </div>
                    </div>`;



                }
                    $("#BindBusinessShowAllClassDetail").append(classList);
                // Check if there is more data to load
                if (response.data.length > recordLimit) {
                    AllClassDetailRecordedIdGlobal = response.data[response.data.length - 1].Id;
                    $('#BtnViewMoreAllClass').removeClass('d-none');

                } else {
                    // No more data, hide the "View More" button
                    $('#BtnViewMoreAllClass').addClass('d-none');
                }



                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }



     // Bind Business Branches Detail
    function GetAllBusinessBranchesDetailList() {
     $.ajax({
         type: "GET",
         url: '/api/Business/GetBranchesDetailForVisitorPanel?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
         contentType: 'application/json',
         success: function (response) {
             if (response.status < 1) {
                 $.iaoAlert({
                     msg: response.message,
                     type: "error",
                     mode: "dark",
                 });
                 return;
             }

             if (response.data.length === 0) {
                 $("#AllBranchCard_Section").addClass('disply_none_section');
             }
             else {
                 for (var i = 0; i < response.data.BranchDetails.length; i++) {

                     var BusinessCountryname = `${response.data.BranchDetails[i].Country}`;

                     $("#Countryname").html(BusinessCountryname);
                 }
             }

             if (response.data.BranchDetails.length === 0) {
                 $("#AllBranchCard_Section").addClass('disply_none_section');
             }
             else {
                 for (var i = 0; i < response.data.BranchDetails.length; i++) {

                     var BusinessBranchesDetaillst = ` <li class="branches-city-text">
                              <a href="javascript:GetAllBusinessBranchLocationDetailList('${response.data.BranchDetails[i].State}','${response.data.BranchDetails[i].City}');">${response.data.BranchDetails[i].City}/${response.data.BranchDetails[i].State}</a>
                          </li>`;



                     $("#BusinessBranchesAddressDetaillst").append(BusinessBranchesDetaillst);
                 }
             }
             var BusinessTotalBranchesdetail = '';
             if (response.data.BranchDetails.length === 0) {
                 $("#BindBranches_Section").addClass('disply_none_section');
             }
             else {
                 for (var i = 0; i < response.data.BranchDetails.length; i++)
                 {
                      var BusinessTotalBranchesdetail = `<div class="branches-item ">
                          <div class="number-of-branches-text">
                             ${response.data.BranchDetails[i].TotalCount}
                          </div>
                      </div>`;



                     $("#BusinessBranchesTotalRecordDetail").append(BusinessTotalBranchesdetail);
                 }
             }
             var BusinessLogodetail = '';
             if (response.data.BranchListforBusinessLogo.length === 0) {
                 $("#BindBranches_Section").addClass('disply_none_section');
             }
             else
             {
                 for (var i = 0; i < response.data.BranchDetails.length; i++) {
                     var BusinessLogodetail = `<div class="branches-item img-width">
                      <div class="branch-logo">
                          <img src="${response.data.BranchListforBusinessLogo.BusinessLogoWithPath}" alt="branche-logo" loading="lazy">
                      </div>
                    </div>`;

                     $("#BusinessBranchLogoDetail").append(BusinessLogodetail);
                 }
             }

             var BusinessBranchViewDetail = '';
             if (response.data.BranchDetails.length === 0) {
                 $("#BindBranches_Section").addClass('disply_none_section');
             }
             else {
                 for (var i = 0; i < response.data.BranchDetails.length; i++) {

                     var BusinessBranchViewDetail = `<div class="branches-item ">
                      <div class="branch-cta">
                          <a href="javascript:GetAllBusinessBranchLocationDetailList('${response.data.BranchDetails[i].State}','${response.data.BranchDetails[i].City}');">View all</a>
                      </div>

                  </div>`;



                     $("#BindBusinessBranchViewDetail").append(BusinessBranchViewDetail);
                 }
             }


             StopLoading();
         },
         error: function (result) {
             // StopLoading();

             if (result["status"] == 401) {
                 $.iaoAlert({
                     msg: 'Unauthorized! Invalid Token!',
                     type: "error",
                     mode: "dark",
                 });
             }
             else {
                 $.iaoAlert({
                     msg: 'There is some technical error, please try again!',
                     type: "error",
                     mode: "dark",
                 });
             }
         }
     });
 }


 //Bind Business Branch Detail For Location
    function GetAllBusinessBranchLocationDetailList(State, City) {
        $('#branch_card').removeClass('d-none');
     $("#BusinessAddressDetail").empty();
     $("#BusinessContentBranchLocationDetail").empty();
     $.ajax({
         type: "Get",
         url: '/api/Business/GetBranchesDetailLocationForVisitorPanel?state=' + State + '&city=' + City + '&businessownerLoginId=' + BusinessOwnerLoginId_Global,

         contentType: 'application/json',
         success: function (response) {
             if (response.status < 1) {
                 $.iaoAlert({
                     msg: response.message,
                     type: "error",
                     mode: "dark",
                 });
                 return;
             }

             var ClassicDanceBranchTitleDetail = '';
             if (response.data.length === 0) {
                 $('#BusinessAddressDetail').addClass('d-none');
             }
             else {
                 for (var i = 0; i < response.data.length; i++) {
                     ClassicDanceBranchTitleDetail = `
                       ${response.data[i].State} / ${response.data[i].City}
                     `;
                     $("#BusinessAddressDetail").html(ClassicDanceBranchTitleDetail);
                 }
             }
             var ClassicDanceBranchLocationDetailList = '';
             if (response.data.length === 0)
             {
                 $('#BusinessContentBranchLocationDetail').addClass('disply_none_section');
             }
             else
             {
                 for (var i = 0; i < response.data.length; i++)
                 {
                    ClassicDanceBranchLocationDetailList += `<div class="branch-flex-items">
                             <div class="logo-iner">
                                 <img src="${response.data[i].BusinessLogoWithPath}" alt="branch-logo" loading="lazy">

                             </div>
                             <div class="branch-content">
                                 <h6 class="branch-place">${response.data[i].BusinessName}</h6>
                                 <a target="_blank" href="/Home/BusinessProfile?businessOwnerLoginId=${response.data[i].UserLoginId}">
                                 <span class="visit-tag">Visit Us</span></a>
                                 <p class="branch-description">
                                     ${response.data[i].Address}
                                 </p>
                             </div>
                    </div>`;

                 }
                    $("#BusinessContentBranchLocationDetail").html(ClassicDanceBranchLocationDetailList);
             }

             StopLoading();
         },
         error: function (result) {
             // StopLoading();

             if (result["status"] == 401) {
                 $.iaoAlert({
                     msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                     type: "error",
                     mode: "dark",
                 });
             }
             else {
                 $.iaoAlert({
                     msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                     type: "error",
                     mode: "dark",
                 });
             }
         }
     });
 }


    /// Business Timing Data
    function GetAllBusinessTimingData() {

        $.ajax({
            type: "GET",
            url: '/api/Business/Timing/GetBusinessTimingDataVisitorPanel?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }

                var htmlBusinessTiming = '';
                if (response.data.businessTimingData == 0) {
                    $("#BindBusinessTiming_Section").addClass('d-none');
                }

                for (var i = 0; i < response.data.businessTimingData.length; i++) {

                    var openingTiming = moment(response.data.businessTimingData[i].OpeningTime_12HoursFormat, "HH:mm").format("h:mm A");
                    var closingTiming = moment(response.data.businessTimingData[i].ClosingTime_12HoursFormat, "HH:mm").format("h:mm A");
                    var openingTiming2 = moment(response.data.businessTimingData[i].OpeningTime2_12HoursFormat, "HH:mm").format("h:mm A");
                    var closingTiming2 = moment(response.data.businessTimingData[i].ClosingTime2_12HoursFormat, "HH:mm").format("h:mm A");
                    var BusinessOpenCloseTime = '';
                    if (response.data.businessTimingData[i].IsOpened == 1) {
                        BusinessOpenCloseTime = ` <p class="time mt-2">${openingTiming} - ${closingTiming}</p>
                               <p class="time mt-2">${openingTiming2} - ${closingTiming2}</p> `;
                    }
                    else {
                        BusinessOpenCloseTime = `<p class="time">Close</p>`;
                    }
                    htmlBusinessTiming = `<div class="time-schdule">
                    <div class="icon-day">
                        <i class="fa-regular fa-clock"></i>
                        <span class="day">${response.data.businessTimingData[i].DayName}</span>
                    </div>
                    ${BusinessOpenCloseTime}
                </div>`;
                    $("#BindBusinessTiming").append(htmlBusinessTiming);
                    if (response.data.businessTimingData[i].TodayOff == "1") {
                        $("#closeBusinessDay").html(' Today We are Closed');
                    }
                    $("#BusinessNotes").html(response.data.businessTimingData[i].Notes);
                }
                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    function GetEducationCourseWithCertificateAndExamDetailList() {

        $.ajax({
            type: "GET",
            url: '/api/Course/GetCourseDetail?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {

                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }

                var _courseListwithCertificateAndExam = response.data.CourseListwithCertificateAndExam;

                var row = '';
                if (response.data.CourseListwithCertificateAndExam.length === 0) {
                    $("#BindLicensedCourseDetail_Section").addClass('d-none');
                } else {


                    for (var i = 0; i < response.data.CourseListwithCertificateAndExam.length; i++) {
                        row = `<tr>
                      <td>${_courseListwithCertificateAndExam[i].Id}</td>
                    <td>${_courseListwithCertificateAndExam[i].Name}</td>
                   <td>${_courseListwithCertificateAndExam[i].Duration} ${_courseListwithCertificateAndExam[i].DurationType}</td>
                   <td>${_courseListwithCertificateAndExam[i].CourseStartDate}</td>
                   <td><a class="cta-detail" href="/Home/Details?courseId=${_courseListwithCertificateAndExam[i].Id}&businessOwnerLoginId=${BusinessOwnerLoginId_Global}">Details <i class="fa-solid fa-angle-right"></i></a>
                   </td>
                   </tr>`;

                        $("#BusinessCourseDetailCertificateExam").append(row);
                    }
                }
                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    function GetEducationCourseWithCertificateDetailList() {
        $.ajax({
            type: "GET",
            url: '/api/Course/GetCourseDetail?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {

                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }
                var _courseListwithCertificate = response.data.CourseListwithCertificate;
                var row = '';

                if (response.data.CourseListwithCertificate.length === 0) {
                    $("#BindCourseWithcertificate").addClass('d-none');
                } else {

                    for (var i = 0; i < response.data.CourseListwithCertificate.length; i++) {
                        // Create a Business Training Detail List for each entry in the List
                        // var moredetails=  `<a href="/Home/Details?courseId=${_courseListwithCertificate[i].Id}&businessOwnerLoginId=${BusinessOwnerLoginId_Global}"></a>`;

                        row = `<tr><td>${_courseListwithCertificate[i].Id}</td>
                     <td>${_courseListwithCertificate[i].Name}</td>
                     <td>${_courseListwithCertificate[i].Duration} ${_courseListwithCertificate[i].DurationType}</td>
                     <td>${_courseListwithCertificate[i].CourseStartDate} </td>
                     <td><a class="cta-detail" href="/Home/Details?courseId=${_courseListwithCertificate[i].Id}&businessOwnerLoginId=${BusinessOwnerLoginId_Global}">Details <i class="fa-solid fa-angle-right"></i></a>
                       </td>
                     </tr>`;

                        $("#BusinessCourseInfoWithCertificate").append(row);

                    }

                }
                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    // Affilated University
    // Bind Business University Detail
    function GetAllBusinessContentUniversityDetailList() {

        $.ajax({
            type: "GET",
            url: '/api/BusinessContent/GetAllBusinessEducationAffilatedUniversityDetailVisitorPanel?businessOwnerLoginId=' + BusinessOwnerLoginId_Global,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }
                var UniversityDetailDisplay = '';
                if (response.data.BusinessContentUniversityDetail === null) {
                    $("#BindBusinessUniversityImage_Section").addClass('d-none');
                }
                else {
                    var UniversityDetailDisplay = ` <div id="tab_1" class="uni-image">
                        <img src="${response.data.BusinessContentUniversityDetail.UniversityImageWithPath}" alt="uni-image">
                        <p>
                            ${response.data.BusinessContentUniversityDetail.Description}
                        </p>

                    </div>`;

                    $("#BindBusinessUniversityImageDetail").html(UniversityDetailDisplay);
                }


                var htmlBusinessContentUniversityList = '';
                if (!response.data.BusinessContentUniversityDetailList || response.data.BusinessContentUniversityDetailList.length === 0) {
                    $("#BindBusinessUniversityImage_Section").addClass('d-none');
                } else {
                    for (var i = 0; i < response.data.BusinessContentUniversityDetailList.length; i++) {

                        htmlBusinessContentUniversityList += `  <li data-tab="#tab_1">
                        <div class="uni-img">
                            <img src="${response.data.BusinessContentUniversityDetailList[i].UniversityLogoWithPath}" alt="profile" loading="lazy" onclick="ShowingUniversityDetail('${response.data.BusinessContentUniversityDetailList[i].UniversityImageWithPath}','${response.data.BusinessContentUniversityDetailList[i].Description}');">
                            <p>${response.data.BusinessContentUniversityDetailList[i].University}</p>

                        </div>

                    </li>`;




                        $("#BindBusinessContentUniversityLogoDetailList").html(htmlBusinessContentUniversityList);
                    }
                }




                StopLoading();
            },
            error: function (result) {
                // StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }
    function ShowingUniversityDetail(universityImageWithPath, description) {
        $("#BindBusinessUniversityImageDetail").html('');
        //var InstructorDetails = JSON.parse(InstructorDetailsJSON);
        var UniversityDetailDisplay = ` <div id="tab_1" class="uni-image">
                        <img src="${universityImageWithPath}" alt="uni-image">
                        <p>
                            ${description}
                        </p>

                    </div>`;

        $("#BindBusinessUniversityImageDetail").html(UniversityDetailDisplay);
    }

</script>
