<script>
    var UserToken_Global = "";
    var BusinessOwnerLoginId_Globals = $("#hiddenBusinessOwnerLoginIds").val();


    function initializeDataTable_Experience() {
        _experienceTable = $("#tblExperienceDetailView").DataTable();
    }
    function initializeDataTable_Education() {
        _educationTable = $("#tblEducationDetailView").DataTable();
    }

    $(document).ready(function () {

        $.get("/Business/GetBusinessAdminToken", null, function (dataToken) {
            if (dataToken != "" && dataToken != null) {
                UserToken_Global = dataToken;
                GetMasterproDetails();
                btnSubmitMasterProDetail();
                initializeDataTable_Experience();
                initializeDataTable_Education();
                GetAllExperienceForBusinessPagination();
                GetAllEducationForBusinessPagination();


            } else {
                $.get("/Business/GetStaffToken", null, function (dataToken) {
                    if (dataToken != "" && dataToken != null) {
                        UserToken_Global = dataToken;
                        GetMasterproDetails();
                        btnSubmitMasterProDetail();
                        initializeDataTable_Experience();
                        initializeDataTable_Education();
                        GetAllExperienceForBusinessPagination();
                        GetAllEducationForBusinessPagination();
                    } else {
                        StopLoading();
                    }
                });
            }
        });
    });



    $('#tblExperienceDetailView_filter input').unbind();
    $('#tblExperienceDetailView_filter input').bind('keyup', function (e) {
        if (e.keyCode == 13 || (e.keyCode == 8 && $(this).val() == '')) {
            _experienceTable.search(this.value).draw();
        }
    });



       var GymId_Global = 0;
      function btnSubmitMasterProDetail() {

        var _mode = 1;
          let is_valid = true;


        let age = $("#ageid").val().trim();
        let nationality = $("#nationalityid").val().trim();
        let freelance = $("#freelanceid").val().trim();
        let skype = $("#skypeid").val().trim();
        let language = $("#languageid").val().trim();


        let _error_age = $("#error_txtage");
        let _error_nationality = $("#error_txtnationality");
          let _error_freelance = $("#error_txtfreelance");
          let _error_businessServiceImage = $("#error_fileBusinessServiceImage");
        let _error_skype = $("#error_txtskype");
        let _error_language = $("#error_txtlanguages");

        if (validate_IsEmptyStringInputFieldValue(age)) {
            is_valid = false;
            _error_age.html('@(Resources.BusinessPanel.AgeRequired)');
         }
        if (validate_IsEmptyStringInputFieldValue(nationality)) {
            is_valid = false;
            _error_nationality.html('@(Resources.BusinessPanel.NationalityRequired)');
        }
        if (validate_IsEmptyStringInputFieldValue(freelance)) {
            is_valid = false;
            _error_freelance.html('@(Resources.BusinessPanel.FreelanceRequired)');
         }
        if (validate_IsEmptyStringInputFieldValue(skype)) {
            is_valid = false;
            _error_skype.html('@(Resources.BusinessPanel.SkypeRequired)');
        }
        if (validate_IsEmptyStringInputFieldValue(language)) {
            is_valid = false;
            _error_language.html('@(Resources.BusinessPanel.LanguageRequired)');
        }

        var _businessServiceImageFile_MS = $("#fileBusinessServiceImage").get(0);
        var _businessServiceImageFiles = _businessServiceImageFile_MS.files;


                 if (_mode == 1 && _businessServiceImageFiles.length <= 0) {
              _error_businessServiceImage.html('@(Resources.BusinessPanel.BusinessServiceImageRequired)');
             return;
          }



         if (is_valid) {

            var data = new FormData();

            data.append("Id", GymId_Global);
            data.append("Age", age);
            data.append("Nationality", nationality);
            data.append("Freelance", freelance);
            data.append("Skype", skype);
             data.append("Languages", language);
             data.append('Mode', _mode);

             data.append('UploadCV', _businessServiceImageFiles[0]);

             $.ajax({

                url: '/api/Business/MasterProResumeDetails' ,
                headers: {
                    "Authorization": "Bearer " + UserToken_Global
                },
                data: data,
                processData: false,
                mimeType: 'multipart/form-data',
                contentType: false,
                //contentType: 'application/json',
                type: 'POST',
                success: function (dataResponse) {

                    //--Parse into Json of response-json-string
                    dataResponse = JSON.parse(dataResponse);


                    //--If successfully added/updated
                    if (dataResponse.status === 1) {
                        swal("Success!", dataResponse.message, "success");
                        ResetAddView();
                        GetMasterproDetails();

                    }
                    else {
                        swal({
                            title: 'Error!',
                            icon: 'error',
                            text: dataResponse.message
                        });
                        StopLoading();
                        return;
                    }

                   // EditBusinessProfile();
                    StopLoading();

                },
                error: function (result) {
                    StopLoading();

                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            });
         }

      }

       function GetMasterproDetails() {
        $.ajax({
            type: "GET",
            url: '/api/Business/GetMasteroProDetailByBusinessOwnerLoginId',
            headers: {
                "Authorization": "Bearer " + UserToken_Global,
            },  // No need for "Content-Type: application/json" in GET requests
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }

                const data = response.data.MasterproDetail;
                $("#ageid").val(data.Age);
                $("#freelanceid").val(data.Freelance);
                $("#languageid").val(data.Languages);
                $("#skypeid").val(data.Skype);
                $("#nationalityid").val(data.Nationality);
                var imageUrl = data.UploadCVImageWithPath;
                $("#downloadCVButton").attr('href', imageUrl);



                StopLoading();
            },
            error: function (result) {
                StopLoading();

                if (result["status"] === 401) {
                    $.iaoAlert({
                        msg: 'Unauthorized! Invalid Token!',
                        type: "error",
                        mode: "dark",
                    });
                } else {
                    $.iaoAlert({
                        msg: 'There is some technical error, please try again!',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

       var ExperienceGlobalId = 0;
       function btnAddUpdateExperienceProfile() {
          let is_valid = true;
        $(".error-class").html('');

           var _mode = (ExperienceGlobalId > 0) ? 2 : 1;


     let _staffexperiencetitle = $("#txtTitle").val().trim();
     let _staffexperienceCompanyName = $("#txtCompanyName").val().trim();
     let _staffexperienceStartMonth = $("#StartMonth").val().trim();
     let _staffexperienceEndMonth = $("#EndMonth").val().trim();
     let _staffexperienceStartYear = $("#StartYear").val();
     let _staffexperienceEndYear = $("#EndYear").val();
     let _staffexperienceStartDate = $("#Business_StartDate").val();
     let _staffexperienceEndDate = $("#Business_EndDate").val();
     let _staffexperienceDescription = $("#experience_description").val().trim();


     let _error_staffexperiencetitle = $("#error_txtTitle");
     let _error_staffexperienceCompanyName = $("#error_txtCompanyName");
     let _error_staffexperienceStartMonth = $("#error_txtStartMonth");
     let _error_staffexperienceEndMonth = $("#error_txtEndMonth");
     let _error_staffexperienceStartYear = $("#error_txtStartYear");
     let _error_staffexperienceEndYear = $("#error_txtEndYear");
     let _error_staffexperienceStartDate = $("#error_Business_StartDate");
     let _error_staffexperienceEndDate = $("#error_Business_EndDate");
     let _error_staffexperienceDescription = $("#error_experience_description");


     if (validate_IsEmptyStringInputFieldValue(_staffexperiencetitle)) {
        is_valid = false;
         _error_staffexperiencetitle.html('@(Resources.BusinessPanel.TitleRequired)');
    }

     if (validate_IsEmptyStringInputFieldValue(_staffexperienceCompanyName)) {
        is_valid = false;
         _error_staffexperienceCompanyName.html('@(Resources.BusinessPanel.CompanyNameRequired)');
    }

     if (validate_IsEmptyStringInputFieldValue(_staffexperienceStartMonth)) {
        is_valid = false;
         _error_staffexperienceStartMonth.html('@(Resources.BusinessPanel.StartMonthRequired)');
    }


     if (validate_IsEmptyStringInputFieldValue(_staffexperienceEndMonth)) {
        is_valid = false;
         _error_staffexperienceEndMonth.html('@(Resources.BusinessPanel.EndMonthRequired)');
    }
     if (validate_IsEmptyStringInputFieldValue(_staffexperienceStartYear)) {
        is_valid = false;
         _error_staffexperienceStartYear.html('@(Resources.BusinessPanel.StartYearRequired)');
    }

     if (validate_IsEmptyStringInputFieldValue(_staffexperienceEndYear)) {
        is_valid = false;
         _error_staffexperienceEndYear.html('@(Resources.BusinessPanel.EndYearRequired)');
     }
     else if (_staffexperienceStartYear > _staffexperienceEndYear) {
         is_valid = false;
         _error_staffexperienceEndYear.html('@(Resources.BusinessPanel.EndYearDoesNotLessThanStartYearRequired)');
     }
     if (validate_IsEmptyStringInputFieldValue(_staffexperienceStartDate)) {
        is_valid = false;
         _error_staffexperienceStartDate.html('@(Resources.BusinessPanel.StartDateRequired)');
    }
      if (validate_IsEmptyStringInputFieldValue(_staffexperienceEndDate)) {
        is_valid = false;
          _error_staffexperienceEndDate.html('@(Resources.BusinessPanel.EndDateRequired)');
     }
      else if (_staffexperienceStartDate > _staffexperienceEndDate) {
         is_valid = false;
          _error_staffexperienceEndDate.html('@(Resources.BusinessPanel.EndDateDoesNotLessThanStartDateRequired)');
     }
     if (validate_IsEmptyStringInputFieldValue(_staffexperienceDescription)) {
        is_valid = false;
         _error_staffexperienceDescription.html('@(Resources.BusinessPanel.DescriptionRequired)');
    }


    if (is_valid) {
        StartLoading();

        var data = new FormData();
        data.append("Id", ExperienceGlobalId);
        data.append("Title", _staffexperiencetitle);
        data.append("CompanyName", _staffexperienceCompanyName);
        data.append("StartMonth", _staffexperienceStartMonth);
        data.append("EndMonth", _staffexperienceEndMonth);
        data.append("StartYear", _staffexperienceStartYear);
        data.append("EndYear", _staffexperienceEndYear);
        data.append("StartDate", _staffexperienceStartDate);
        data.append("EndDate", _staffexperienceEndDate);
        data.append("Description", _staffexperienceDescription);
        data.append("Mode", _mode);


        $.ajax({
            url: '/api/Business/AddUpdateBusinessUserExperienceDetail',
            headers: {
                "Authorization": "Bearer " + UserToken_Global
            },
            data: data,
            processData: false,
            mimeType: 'multipart/form-data',
            contentType: false,
            //contentType: 'application/json',
            type: 'POST',
            success: function (dataResponse) {

                //--Parse into Json of response-json-string
                dataResponse = JSON.parse(dataResponse);

                //--If successfully added/updated
                if (dataResponse.status === 1) {
                    swal("Success!", dataResponse.message, "success");
                    GetAllExperienceForBusinessPagination();
                }
                else {
                    swal({
                        title: 'Error!',
                        icon: 'error',
                        text: dataResponse.message
                    });
                    StopLoading();

                    return;
                }

               /* ResetProfileform();*/
                StopLoading();

            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

       }

       function GetAllExperienceForBusinessPagination() {
     // ---------------- Pagination Data Table --------------------
       var _url_val = "/api/Business/GetAllUserExperienceByPagination";
       _experienceTable.clear().destroy();
       _experienceTable = $("#tblExperienceDetailView").DataTable({
         "processing": true,
         "serverSide": true,
         "filter": true,
         "orderMulti": false,
         "ordering": true,
         "paginate": true,
         "order": [[4, "desc"]],
         "ajax": {
             "headers": {
                 "Authorization": "Bearer " + UserToken_Global
             },
             "url": _url_val,
             "type": "POST",
             //"data": { "_Params": JSON.stringify(_Params) },
             //"datatype": "json",
             "error": function (result) {
                 if (result["status"] == 401) {
                     $.iaoAlert({
                         msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                         type: "error",
                         mode: "dark",
                     });
                 }
                 else {
                     $.iaoAlert({
                         msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                         type: "error",
                         mode: "dark",
                     });
                 }
             }
         },
         "columns": [
             {
                 "data": "SerialNumber", "name": "SerialNumber", "autoWidth": true
             }
             , { "data": "Title", "name": "Title", "autoWidth": true }
             , { "data": "CompanyName", "name": "CompanyName", "autoWidth": true }
             , {
                 "data": null, "name": "StartMonth", "autoWidth": true
                 , "render": function (data, type, row) {

                     var _data = `<div class="d-flex align-items-center">
                                     <div class="mr-2">
                                         ${row.StartMonth}
                                     </div>
                                     <div>${row.EndMonth}</div>
                                 </div>`;
                     return _data;
                 }
             }

             , {
                 "data": null, "name": "StartYear", "autoWidth": true, "render": function (data, type, row) {
                     var _data = `<div class="d-flex flex-column">
                                     <div class="mb-2">
                                          ${row.StartYear}
                                     </div>
                                     <div class="mb-2">
                                         ${row.EndYear}
                                     </div>
                                 </div>`;
                     return _data;
                 }
             }



             , { "data": "Description", "name": "Description", "autoWidth": true }

             , {
                 "data": null, "": "Action", "autoWidth": true,
                 "render": function (data, type, row) {
                     // var _view = '';
                     var _edit = '';
                     var _delete = '';


                          /* _view = `<a href="javascript:ViewBranchesDetail(${row.Id});"><i class="fas fa-eye" title="View"></i></a>`;*/

                     _edit = `<a href="javascript:EditBusinessUserExperience(${row.Id});"><i class="fas fa-edit" title="Edit"></i></a>`;

                     _delete = `<a href="javascript:ConfirmDeleteDeleteUserExperience(${row.Id});"><i class="fas fa-trash" title="Delete"></i></a>`;


                     var _action = `<div class="edbt">


                                 ${_edit}
                                 ${_delete}

                             </div>`;
                     return _action;
                 }
             }
         ],

         "responsive": true,
         "autoWidth": false,
         "columnDefs": [{
             "targets": [0,6], // column index (start from 0)
             "orderable": false, // set orderable false for selected columns
         }]
     });

     // for enabling search box only send requet on pressing enter
       $('#tblExperienceDetailView_filter input').unbind();
       $('#tblExperienceDetailView_filter input').bind('keyup', function (e) {
         if (e.keyCode == 13 || (e.keyCode == 8 && $(this).val() == '')) {
             _experienceTable.search(this.value).draw();
         }
     });

     // ----------------  Pagination Data Table ------------------
 }

       function EditBusinessUserExperience(id)
       {
           
        $('#sectionAddStaffExperience').show();
        $('#sectionViewExperiences').hide();
        document.getElementById("ChangeUpdateText").innerHTML = "Update";
        $('#btnAddExperienceStaff').hide();
        $(".error-class").html('');
        $('#btnAddExperienceStaff').click(function () {
            document.getElementById("ChangeUpdateText").innerHTML = "Save";
            $(".error-class").html('');

        });

        var _url = "/api/Business/GetUserExperienceDetailById?id=" +id;

             StartLoading();

           $.ajax({

               type: "GET",
               url: _url,
               headers: {
                   "Authorization": "Bearer " + UserToken_Global,
                   "Content-Type": "application/json"
               },

                    contentType: 'application/json',
                    success: function (response) {
                          if (response.status < 1) {
                              $.iaoAlert({
                                  msg: response.message,
                                  type: "error",
                                  mode: "dark",
                              });
                              return;
                          }
                          ExperienceGlobalId = response.data.Id;
                          $("#txtTitle").val(response.data.Title);
                          $("#txtCompanyName").val(response.data.CompanyName);
                          $("#StartMonth").val(response.data.StartMonth);
                          $("#EndMonth").val(response.data.EndMonth);
                          $("#StartYear").val(response.data.StartYear);
                          $("#EndYear").val(response.data.EndYear);
                          $("#Business_StartDate").val(response.data.StartDate);
                          $("#Business_EndDate").val(response.data.EndDate);
                          $("#experience_description").val(response.data.Description);//



                          StopLoading();
                    },
                      error: function (result) {
                          StopLoading();

                          if (result["status"] == 401) {
                              $.iaoAlert({
                                  msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                                  type: "error",
                                  mode: "dark",
                              });
                          }
                          else {
                              $.iaoAlert({
                                  msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                                  type: "error",
                                  mode: "dark",
                              });
                          }
                      }
           });
       }

       function DeleteUserExperience(sid) {
     StartLoading();
     $.ajax({
         type: "POST",
         url: "/api/Business/DeleteUserExperienceDetailById?id=" + sid,
         headers: {
             "Authorization": "Bearer " + UserToken_Global,
             "Content-Type": "application/json"
         },
         contentType: 'application/json',
         success: function (dataResponse) {
             StopLoading();

             //--Check if staff successfully deleted
             if (dataResponse.status == 1) {
                 setTimeout(function () {
                     swal("Success!", dataResponse.message, "success");
                     GetAllExperienceForBusinessPagination();
                 }, 100);
             }
             else {
                 $.iaoAlert({
                     msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                     type: "error",
                     mode: "dark",
                 });
             }
         },
         error: function (result) {
             StopLoading();

             if (result["status"] == 401) {
                 $.iaoAlert({
                     msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                     type: "error",
                     mode: "dark",
                 });
             }
             else {
                 $.iaoAlert({
                     msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                     type: "error",
                     mode: "dark",
                 });
             }
         }
     });
    }

    function ResetAddExperienceView() {
        
        $("#sectionViewExperiences").show();
        $("#sectionAddStaffExperience").hide();
        $("#btnAddExperienceStaff").show();
        $("#txtTitle").val('');
        $("#txtCompanyName").val('');
        $("#StartMonth").val('');
        $("#EndMonth").val('');
        $("#StartYear").val('');
        $("#EndYear").val('');
        $("#Business_StartDate").val('');
        $("#Business_EndDate").val('');
        $("#experience_description").val('');
        ExperienceGlobalId = 0;
    }

       function ConfirmDeleteDeleteUserExperience(sid) {
    swal({
        title: "@(Resources.BusinessPanel.ConfirmDeleteUserExperienceTitle)",
        text: "@(Resources.BusinessPanel.ConfirmDeleteUserExperienceText)",
        type: "warning",
        buttons: true,
        cancel: {
            text: "@(Resources.ErrorMessage.Cancel)",
            value: null,
            visible: false,
            className: "",
            closeModal: true,
        }
    }).then((willDelete) => {
        if (willDelete) {
            DeleteUserExperience(sid);
        } else {
            //swal("Your imaginary file is safe!");
        }
    });
}

    $('#btnAddExperienceStaff').click(function () {
        
        $('#sectionAddStaffExperience').show();
        $('#btnAddExperienceStaff').hide();
        $('#sectionViewExperiences').hide();
        document.getElementById("pageTextchange").innerHTML = "Add Experience";
        document.getElementById("pageStageChange").innerHTML = "Add Experience";
    });



    // for enabling search box only send requet on pressing enter
    $('#tblExperienceDetailView_filter input').unbind();
    $('#tblExperienceDetailView_filter input').bind('keyup', function (e) {
        if (e.keyCode == 13 || (e.keyCode == 8 && $(this).val() == '')) {
            _experienceTable.search(this.value).draw();
        }
    });

     function DeleteUserEducation(sid) {
            StartLoading();
            $.ajax({
                type: "POST",
                url: "/api/Business/DeleteUserEducationDetailById?id=" + sid,
                headers: {
                    "Authorization": "Bearer " + UserToken_Global,
                    "Content-Type": "application/json"
                },
                contentType: 'application/json',
                success: function (dataResponse) {
                    StopLoading();

                    //--Check if staff successfully deleted
                    if (dataResponse.status == 1) {
                        setTimeout(function () {
                            swal("Success!", dataResponse.message, "success");
                            GetAllEducationForBusinessPagination();
                        }, 100);
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                },
                error: function (result) {
                    StopLoading();

                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            });
     }



    function EditBusinessUserEducation(id) {
       $('#sectionAddStaffEducation').show();
       $('#sectionViewEducation').hide();
     document.getElementById("ChangeUpdateText").innerHTML = "Update";
       $('#btnAddEducationDetail').hide();
     $(".error-class").html('');
       $('#btnAddEducationDetail').click(function () {
         document.getElementById("ChangeUpdateText").innerHTML = "Save";
         $(".error-class").html('');

     });

     var _url = "/api/Business/GetUserEducationDetailById?id=" +id;

StartLoading();

$.ajax({
    type: "GET",
    url: _url,
    headers: {
        "Authorization": "Bearer " + UserToken_Global,
        "Content-Type": "application/json"
    },
    contentType: 'application/json',
    success: function (response) {
        if (response.status < 1) {
            $.iaoAlert({
                msg: response.message,
                type: "error",
                mode: "dark",
            });
            return;
        }
        EducationGlobalId = response.data.Id;
        $("#txtSchoolName").val(response.data.SchoolName);
        $("#txtDesignation").val(response.data.Designation);
        $("#StartEducationMonth").val(response.data.StartMonth);
        $("#EndEducationMonth").val(response.data.EndMonth);
        $("#StartEducationYear").val(response.data.StartYear);
        $("#EndEducationYear").val(response.data.EndYear);
        $("#Education_StartDate").val(response.data.StartDate);
        $("#Education_EndDate").val(response.data.EndDate);
        $("#education_description").val(response.data.Description);//
        $("#txtGrade").val(response.data.Grade);


        StopLoading();
    },
    error: function (result) {
        StopLoading();

        if (result["status"] == 401) {
            $.iaoAlert({
                msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                type: "error",
                mode: "dark",
            });
        }
        else {
            $.iaoAlert({
                msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                type: "error",
                mode: "dark",
            });
        }
    }
});
    }

      var EducationGlobalId = 0;

     function btnAddUpdateEducationProfile() {
    let is_valid = true;
    $(".error-class").html('');

     var _mode = (EducationGlobalId > 0) ? 2 : 1;


     let _staffeducationSchoolName = $("#txtSchoolName").val().trim();
     let _staffeducationdesignation = $("#txtDesignation").val().trim();
     let _staffeducationStartMonth = $("#StartEducationMonth").val().trim();
     let _staffeducationEndMonth = $("#EndEducationMonth").val().trim();
     let _staffeducationStartYear = $("#StartEducationYear").val();
     let _staffeducationEndYear = $("#EndEducationYear").val();
     let _staffeducationStartDate = $("#Education_StartDate").val();
     let _staffeducationEndDate = $("#Education_EndDate").val();
     let _staffeducationDescription = $("#education_description").val().trim();
     let _staffeducationGrade = $("#txtGrade").val().trim();

     let _error_staffeducationSchoolName = $("#error_txtSchoolName");
     let _error_staffeducationdesignation = $("#error_txtDesignation");
     let _error_staffeducationStartMonth = $("#error_txtStartEducationMonth");
     let _error_staffeducationEndMonth = $("#error_txtEndEducationMonth");
     let _error_staffeducationStartYear = $("#error_txtStartEducationYear");
     let _error_staffeducationEndYear = $("#error_txtEndEducationYear");
     let _error_staffeducationStartDate = $("#error_Education_StartDate");
     let _error_staffeducationEndDate = $("#error_Education_EndDate");
     let _error_staffeducationDescription = $("#error_education_description");



     if (validate_IsEmptyStringInputFieldValue(_staffeducationSchoolName)) {
        is_valid = false;
         _error_staffeducationSchoolName.html('@(Resources.BusinessPanel.SchoolNameRequired)');
    }

     if (validate_IsEmptyStringInputFieldValue(_staffeducationdesignation)) {
        is_valid = false;
         _error_staffeducationdesignation.html('@(Resources.BusinessPanel.DesignationRequired)');
    }

     if (validate_IsEmptyStringInputFieldValue(_staffeducationStartMonth)) {
        is_valid = false;
         _error_staffeducationStartMonth.html('@(Resources.BusinessPanel.StartMonthRequired)');
    }


     if (validate_IsEmptyStringInputFieldValue(_staffeducationEndMonth)) {
        is_valid = false;
         _error_staffeducationEndMonth.html('@(Resources.BusinessPanel.EndMonthRequired)');
    }
     if (validate_IsEmptyStringInputFieldValue(_staffeducationStartYear)) {
        is_valid = false;
         _error_staffeducationStartYear.html('@(Resources.BusinessPanel.StartYearRequired)');
    }

     if (validate_IsEmptyStringInputFieldValue(_staffeducationEndYear)) {
        is_valid = false;
         _error_staffeducationEndYear.html('@(Resources.BusinessPanel.EndYearRequired)');
     }
     else if (_staffeducationStartYear > _staffeducationEndYear) {
         is_valid = false;
         _error_staffeducationEndYear.html('@(Resources.BusinessPanel.EndYearDoesNotLessThanStartYearRequired)');
     }
     if (validate_IsEmptyStringInputFieldValue(_staffeducationStartDate)) {
        is_valid = false;
         _error_staffeducationStartDate.html('@(Resources.BusinessPanel.StartDateRequired)');
    }
     if (validate_IsEmptyStringInputFieldValue(_staffeducationEndDate)) {
        is_valid = false;
          _error_staffeducationEndDate.html('@(Resources.BusinessPanel.EndDateRequired)');
     }
     else if (_staffeducationStartDate > _staffeducationEndDate) {
         is_valid = false;
         _error_staffeducationEndDate.html('@(Resources.BusinessPanel.EndDateDoesNotLessThanStartDateRequired)');
     }
     if (validate_IsEmptyStringInputFieldValue(_staffeducationDescription)) {
        is_valid = false;
         _error_staffeducationDescription.html('@(Resources.BusinessPanel.DescriptionRequired)');
    }


    if (is_valid) {
        StartLoading();

        var data = new FormData();
        data.append("Id", EducationGlobalId);
        data.append("SchoolName", _staffeducationSchoolName);
        data.append("Designation", _staffeducationdesignation);
        data.append("StartMonth", _staffeducationStartMonth);
        data.append("EndMonth", _staffeducationEndMonth);
        data.append("StartYear", _staffeducationStartYear);
        data.append("EndYear", _staffeducationEndYear);
        data.append("StartDate", _staffeducationStartDate);
        data.append("EndDate", _staffeducationEndDate);
        data.append("Description", _staffeducationDescription);
        data.append("Grade", _staffeducationGrade);
        data.append("Mode", _mode);


        $.ajax({
            url: '/api/Business/AddUpdateBusinessUserEducationDetail',
            headers: {
                "Authorization": "Bearer " + UserToken_Global
            },
            data: data,
            processData: false,
            mimeType: 'multipart/form-data',
            contentType: false,
            //contentType: 'application/json',
            type: 'POST',
            success: function (dataResponse) {

                //--Parse into Json of response-json-string
                dataResponse = JSON.parse(dataResponse);

                //--If successfully added/updated
                if (dataResponse.status === 1) {
                    swal("Success!", dataResponse.message, "success");
                    GetAllEducationForBusinessPagination();
                }
                else {
                    swal({
                        title: 'Error!',
                        icon: 'error',
                        text: dataResponse.message
                    });
                    StopLoading();

                    return;
                }

                //ResetProfileform();
                StopLoading();

            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

}

     function GetAllEducationForBusinessPagination() {
     // ---------------- Pagination Data Table --------------------
       var _url_val = "/api/Business/GetAllUserEducationByPagination";
       _educationTable.clear().destroy();
       _educationTable = $("#tblEducationDetailView").DataTable({
         "processing": true,
         "serverSide": true,
         "filter": true,
         "orderMulti": false,
         "ordering": true,
         "paginate": true,
         "order": [[4, "desc"]],
         "ajax": {
             "headers": {
                 "Authorization": "Bearer " + UserToken_Global
             },
             "url": _url_val,
             "type": "POST",
             //"data": { "_Params": JSON.stringify(_Params) },
             //"datatype": "json",
             "error": function (result) {
                 if (result["status"] == 401) {
                     $.iaoAlert({
                         msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                         type: "error",
                         mode: "dark",
                     });
                 }
                 else {
                     $.iaoAlert({
                         msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                         type: "error",
                         mode: "dark",
                     });
                 }
             }
         },
         "columns": [
             {
                 "data": "SerialNumber", "name": "SerialNumber", "autoWidth": true
             }
             , { "data": "SchoolName", "name": "SchoolName", "autoWidth": true }
             , { "data": "Designation", "name": "Designation", "autoWidth": true }
             , {
                 "data": null, "name": "StartMonth", "autoWidth": true
                 , "render": function (data, type, row) {

                     var _data = `<div class="d-flex align-items-center">
                                     <div class="mr-2">
                                         ${row.StartMonth}
                                     </div>
                                     <div>${row.EndMonth}</div>
                                 </div>`;
                     return _data;
                 }
             }

             , {
                 "data": null, "name": "StartYear", "autoWidth": true, "render": function (data, type, row) {
                     var _data = `<div class="d-flex flex-column">
                                     <div class="mb-2">
                                          ${row.StartYear}
                                     </div>
                                     <div class="mb-2">
                                         ${row.EndYear}
                                     </div>
                                 </div>`;
                     return _data;
                 }
             }



             , { "data": "Description", "name": "Description", "autoWidth": true }

             , {
                 "data": null, "": "Action", "autoWidth": true,
                 "render": function (data, type, row) {
                     // var _view = '';
                     var _edit = '';
                     var _delete = '';


                          /* _view = `<a href="javascript:ViewBranchesDetail(${row.Id});"><i class="fas fa-eye" title="View"></i></a>`;*/

                     _edit = `<a href="javascript:EditBusinessUserEducation(${row.Id});"><i class="fas fa-edit" title="Edit"></i></a>`;

                     _delete = `<a href="javascript:ConfirmDeleteDeleteUserEducation(${row.Id});"><i class="fas fa-trash" title="Delete"></i></a>`;


                     var _action = `<div class="edbt">


                                 ${_edit}
                                 ${_delete}

                             </div>`;
                     return _action;
                 }
             }
         ],

         "responsive": true,
         "autoWidth": false,
         "columnDefs": [{
             "targets": [0,6], // column index (start from 0)
             "orderable": false, // set orderable false for selected columns
         }]
     });

     // for enabling search box only send requet on pressing enter
       $('#tblEducationDetailView_filter input').unbind();
       $('#tblEducationDetailView_filter input').bind('keyup', function (e) {
         if (e.keyCode == 13 || (e.keyCode == 8 && $(this).val() == '')) {
             _educationTable.search(this.value).draw();
         }
     });

     // ----------------  Pagination Data Table ------------------
    }

     function ConfirmDeleteDeleteUserEducation(sid)
    {
           swal({
               title: "@(Resources.BusinessPanel.ConfirmDeleteUserEducationTitle)",
               text: "@(Resources.BusinessPanel.ConfirmDeleteUserEducationText)",
               type: "warning",
               buttons: true,
               cancel: {
                   text: "@(Resources.ErrorMessage.Cancel)",
                   value: null,
                   visible: false,
                   className: "",
                   closeModal: true,
               }
           }).then((willDelete) => {
               if (willDelete) {
                   DeleteUserEducation(sid);
               } else {
                   //swal("Your imaginary file is safe!");
               }
           });
    }

     function ResetAddEducationView() {
        $("#sectionViewEducation").show();
        $("#sectionAddStaffEducation").hide();
        $("#btnAddEducationDetail").show();
        $("#txtSchoolName").val('');
        $("#txtDesignation").val('');
        $("#StartEducationMonth").val('');
        $("#EndEducationMonth").val('');
        $("#StartEducationYear").val('');
        $("#EndEducationYear").val('');
        $("#Education_StartDate").val('');
        $("#Education_EndDate").val('');
        $("#education_description").val('');
        $("#txtGrade").val('');
        EducationGlobalId = 0;
    }





    $('#btnAddEducationDetail').click(function () {
        $('#sectionAddStaffEducation').show();
        $('#btnAddEducationDetail').hide();
        $('#sectionViewEducation').hide();
        document.getElementById("pageTextchange").innerHTML = "Add Education";
        document.getElementById("pageStageChange").innerHTML = "Add Education";
    });




    function ResetProfileform() {
        // Reset data
        $("#txtProfileFirstName").val('');
        $("#txtProfileLastName").val('');
        $("#txtEmail").val('');
        $("#fileProfileImage_ManageProfile").val('');
        $("#ProfileImage").attr('src', '');
        $("#fileBusinesslogo_ManageProfile").val('');
        $("#BusinessLogo").attr('src', '');
        $("input#country").val('');
        $("input#state").val('');
        $("input#txt_City").val('');
        $(".WithoutMapLocation").removeClass('d-none');
        $(".MapLocation").addClass('d-none');
        $("#txt_City").html('');
        $("#txt_City").append('<option value="0">Select</option>');
        $("#state").html('');
        $("#state").append('<option value="0">Select</option>');
        $("#country").html('');
        $("#country").append('<option value="0">Select</option>');
        CountryStaffLocation = 'Select';
        LandMarkSatffLocation = '';
        LocationChooseMap = 0;
        $("#text_DocumentTitile_ManageProfile").val('');
        $("#fileBusinessDocument_ManageProfile").val('');
        $("#PhoneNumber").val('');
        $("#Business_Address").val('');
        $('#Landmark_name').val('');
        $("#txt_PinCode").val('');
        $(".error-class").html('');
    }


    document.getElementById('fileBusinessServiceImage').addEventListener('change', handleImageUpload);

function handleImageUpload(event) {
    const file = event.target.files[0];
    const fileSize = file.size / 1024; // size in kilobytes
    const maxSize = 10 * 1024 * 1024; // maximum size in kilobytes
    const fileType = file.type;
    const validFileTypes = ['application/pdf'];

   if (!validFileTypes.includes(fileType)) {
        $.iaoAlert({
            msg: '@(Resources.BusinessPanel.ValidFileTypesRequired)',
            type: "error",
            mode: "dark",
        });
       event.target.value = null; // clear the file input element
       $('#previewFile').addClass('d-none'); // hide the preview file
       return;
    }
    if (fileSize > maxSize) {
        $.iaoAlert({
            msg: '@(String.Format(Resources.BusinessPanel.FileSizeRequired, "10 MB"))',
            type: "error",
            mode: "dark",
        });
        event.target.value = null; // clear the file input element
        // $('#previewFile').addClass('d-none'); // hide the preview file
        return;
    }

    // image size is within the limit, display the preview image
    const reader = new FileReader();
    reader.onload = function (event) {
        document.getElementById('previewImage').src = event.target.result;
      //  $('#previewImage').removeClass('d-none');
    }

    reader.readAsDataURL(file);
}




    ////// -----------    FIELD VALIDATION HANDLER FUNCTIONS  --------------------------

    const validate_IsEmptyStringInputFieldValue = function (inputFieldValue) {
        if (inputFieldValue == '' || inputFieldValue.replace(/\s/g, "") == "")
            return true;
        return false;
    }

    const validate_IsEmptySelectInputFieldValue = function (inputFieldValue) {
        if (inputFieldValue == undefined || inputFieldValue == null || inputFieldValue == '' || inputFieldValue == 0)
            return true;
        return false;
    }



</script>


