<script>

    var UserToken_Global = "";
    var typebannerImage = 1;
    var _CourseTable = 0;
    var _CurriculumTable = 0;
    var _EducationTable = 0;

    function initializeDataTable_CourseDetail() {
        _CourseTable = $("#tblCourseDetailView").DataTable();
    }

    function initializeDataTable_CurriculumDetail() {
        _CurriculumTable = $("#tblCurriculumDetailView").DataTable();
    }
        function initializeDataTable_EducationDetail() {
            _EducationTable = $("#tblEducationDetailView").DataTable();
        }

    $(document).ready(function () {
        $.get("/Business/GetBusinessAdminToken", null, function (dataToken) {
            if (dataToken != "" && dataToken != null) {

                UserToken_Global = dataToken;
                EditBusinessContentTeacherBanner();
                initializeDataTable_CourseDetail();
                GetAllBusinessContentCoursePagination();
                initializeDataTable_CurriculumDetail();
                GetAllBusinessContentCurriculumPagination();
                initializeDataTable_EducationDetail();
                GetAllBusinessContentEducationPagination();
                EditBusinessClassReferInformation();
                StopLoading();
            }
            else {
                $.get("/Business/GetStaffToken", null, function (dataToken) {
                    if (dataToken != "" && dataToken != null) {
                        UserToken_Global = dataToken;
                        EditBusinessContentTeacherBanner();
                        initializeDataTable_CourseDetail();
                        GetAllBusinessContentCoursePagination();
                        initializeDataTable_CurriculumDetail();
                        GetAllBusinessContentCurriculumPagination();
                        initializeDataTable_EducationDetail();
                        GetAllBusinessContentEducationPagination();
                        EditBusinessClassReferInformation();
                    }
                    else {
                        StopLoading();
                    }
                });
            }
        });
    });

    // To Add/Update Contact Information Detail

      var ClassReferInformationIdGlobal = 0;
    function btnSubmitClassReferInformationSection() {
        
        let is_valid = true;
        $(".error-class").html('');
        var _mode = 1;

        let _manageTitle = $("#txtClassReferInfoTitle").val().trim();
        let _manageDescription = $("#ClassReferInfo_description").val().trim();

        let _error_manageTitle = $("#error_txtClassReferInfoTitle");
        let _error_manageDescription = $("#error_ClassReferInfo_description");

         if (validate_IsEmptyStringInputFieldValue(_manageTitle)) {
            is_valid = false;
             _error_manageTitle.html('@(Resources.BusinessPanel.TitleRequired)');
         }
        if (validate_IsEmptyStringInputFieldValue(_manageDescription)) {
            is_valid = false;
            _error_manageDescription.html('@(Resources.BusinessPanel.DescriptionRequired)');
        }


        if (is_valid) {

            var data = new FormData();

            data.append("Id", ClassReferInformationIdGlobal);
            data.append("Title", _manageTitle);
            data.append("Description", _manageDescription);
            data.append('Mode', _mode);

            $.ajax({
                url: '/api/Class/AddUpdateClassReferDetail_PPCMeta',
                headers: {
                    "Authorization": "Bearer " + UserToken_Global
                },
                data: data,
                processData: false,
                mimeType: 'multipart/form-data',
                contentType: false,
                //contentType: 'application/json',
                type: 'POST',
                success: function (dataResponse) {

                    //--Parse into Json of response-json-string
                    dataResponse = JSON.parse(dataResponse);


                    //--If successfully added/updated
                    if (dataResponse.status === 1) {
                        swal("Success!", dataResponse.message, "success");
                       // GetAllAdvertisementsForBusinessPagination();
                    }
                    else {
                        swal({
                            title: 'Error!',
                            icon: 'error',
                            text: dataResponse.message
                        });
                        StopLoading();

                        return;
                    }

                   // EditBusinessProfile();
                    StopLoading();

                },
                error: function (result) {
                    StopLoading();

                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            });
        }

    }

    function EditBusinessClassReferInformation() {
        
        var _url = "/api/Class/GetClassReferDetail_PPCMeta" ;

    StartLoading();

    $.ajax({
        type: "GET",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {
            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });
                return;
            }
            ClassReferInformationIdGlobal = response.data.Id;
            $("#txtClassReferInfoTitle").val(response.data.Title);
            $("#ClassReferInfo_description").val(response.data.Description);

            StopLoading();
        },
        error: function (result) {
            StopLoading();

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
    }






    var TeacherId_Global = 0;

    function btnSubmitTeacherBannerClick() {
        let is_valid = true;
        $(".error-class").html('');
       var _mode = 1;
        var _teacherbannerImageFile_MS = $("#fileProfileImage_ManageTeacherBannerImage").get(0);
        var _teacherbannerImageFiles = _teacherbannerImageFile_MS.files;

        var _error_managebannerImage = $("#error_fileProfileImage_ManageTeacherBannerImage");




        if (typebannerImage == 1 && _teacherbannerImageFiles.length <= 0) {
            _error_managebannerImage.html('@(Resources.BusinessPanel.BusinessImageRequired)');
            return;

                        }



        if (is_valid) {

            var data = new FormData();

            data.append("Id", TeacherId_Global);
            data.append('BannerImage', _teacherbannerImageFiles[0]);
            data.append('Mode', _mode);



            $.ajax({
                url: '/api/Business/AddUpdateBusinessBanner',
                headers: {
                    "Authorization": "Bearer " + UserToken_Global
                },
                data: data,
                processData: false,
                mimeType: 'multipart/form-data',
                contentType: false,
                //contentType: 'application/json',
                type: 'POST',
                success: function (dataResponse) {

                    //--Parse into Json of response-json-string
                    dataResponse = JSON.parse(dataResponse);


                    //--If successfully added/updated
                    if (dataResponse.status === 1) {
                        swal("Success!", dataResponse.message, "success");
                        GetAllBusinessContentBannerPagination();
                    }
                    else {
                        swal({
                            title: 'Error!',
                            icon: 'error',
                            text: dataResponse.message
                        });
                        StopLoading();

                        return;
                    }

                   // EditBusinessProfile();
                    StopLoading();

                },
                error: function (result) {
                    StopLoading();

                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            });
        }

    }

    function EditBusinessContentTeacherBanner() {
        var _url = "/api/Business/BannerDetail/Get/" ;

    StartLoading();

    $.ajax({
        type: "GET",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {
            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });
                return;
            }
            TeacherId_Global = response.data.Id;


            // Set the value of the file input to the extracted file name.
            $("#fileProfileImage_ManageTeacherBannerImage").val('');
        if (response.data.BannerImageWithPath != "") {
            $("#previewTeacherBannerImage").attr('src', response.data.BannerImageWithPath);
            $("#previewTeacherBannerImage").removeClass('d-none');
            typebannerImage = 2;
        }



            StopLoading();
        },
        error: function (result) {
            StopLoading();

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
    }

    ////// -----------    FIELD VALIDATION HANDLER FUNCTIONS  --------------------------

    const validate_IsEmptyStringInputFieldValue = function (inputFieldValue) {
        if (inputFieldValue == '' || inputFieldValue.replace(/\s/g, "") == "")
            return true;
        return false;
    }

    const validate_IsEmptySelectInputFieldValue = function (inputFieldValue) {
        if (inputFieldValue == undefined || inputFieldValue == null || inputFieldValue == '' || inputFieldValue == 0)
            return true;
        return false;
    }
    ////// -----------    FIELD VALIDATION HANDLER FUNCTIONS  --------------------------
    // Image File Preview -------------------------------------------------------------
    document.getElementById('fileProfileImage_ManageTeacherBannerImage').addEventListener('change', handleImageUpload);

function handleImageUpload(event) {
    const file = event.target.files[0];
    const fileSize = file.size / 1024; // size in kilobytes
    const maxSize = 10*1024*1024; // maximum size in kilobytes
    const fileType = file.type;
    const validImageTypes = ['image/jpeg', 'image/png'];

    if (!validImageTypes.includes(fileType)) {
        $.iaoAlert({
            msg: '@(Resources.BusinessPanel.ValidImageTypesRequired)',
            type: "error",
            mode: "dark",
        });
        event.target.value = null; // clear the file input element
        $('#previewTeacherBannerImage').addClass('d-none'); // hide the preview image
        return;
    }
    if (fileSize > maxSize) {
        $.iaoAlert({
            msg: '@(String.Format(Resources.BusinessPanel.FileSizeRequired, "10 MB"))',
            type: "error",
            mode: "dark",
        });
        event.target.value = null; // clear the file input element
        $('#previewTeacherBannerImage').addClass('d-none'); // hide the preview image

        return;
    }

    // image size is within the limit, display the preview image
    const reader = new FileReader();
    reader.onload = function (event) {
        document.getElementById('previewTeacherBannerImage').src = event.target.result;
        $('#previewTeacherBannerImage').removeClass('d-none');
    }

    reader.readAsDataURL(file);
    }
     ///Course  Section

    function ResetBusinessCourseDetail() {
        $("#fileProfileImage_ManageCourseImage").val('');
        $('#previewimageCoursePreview').addClass('d-none');
        $("#previewimageCoursePreview").attr('src', '');
        $('#txtCourseTitle').val('');
        //$('#collapseAddCourseService').hide();
        //$('#sectionViewCourse').show();
        //$('#AddCourseDetailButton').show();
        CourseId_Global = 0;
    }

    var CourseId_Global = 0;
    function btnSubmitBusinessContentCourseClick() {
        let is_valid = true;
        $(".error-class").html('');
        var _mode = (CourseId_Global > 0) ? 2 : 1;

        let _manageCourseTitle = $("#txtCourseTitle").val().trim();

        let _error_manageCourseTitle = $("#error_txtCourseTitle");

        let _error_manageCourseImage = $("#error_fileProfileImage_ManageCourseImage");

        if (validate_IsEmptyStringInputFieldValue(_manageCourseTitle)) {
            is_valid = false;
            _error_manageCourseTitle.html('@(Resources.BusinessPanel.TitleRequired)');
         }



        var _courseImageFile_MS = $("#fileProfileImage_ManageCourseImage").get(0);
        var _courseImageFiles = _courseImageFile_MS.files;

        if ( _mode == 1 && _courseImageFiles.length <= 0) {
            is_valid = false;
            _error_manageCourseImage.html('@(Resources.BusinessPanel.BusinessCourseImageRequired)');
            return;
        }


        if (is_valid) {

            var data = new FormData();

            data.append("Id", CourseId_Global);
            data.append("Title", _manageCourseTitle);
            data.append("Mode", _mode);
            data.append("CourseSignIcon", _courseImageFiles[0]);



            $.ajax({
                url: '/api/Business/AddUpdateBusinessCourse_PPCMeta',
                headers: {
                    "Authorization": "Bearer " + UserToken_Global
                },
                data: data,
                processData: false,
                mimeType: 'multipart/form-data',
                contentType: false,
                //contentType: 'application/json',
                type: 'POST',
                success: function (dataResponse) {

                    //--Parse into Json of response-json-string
                    dataResponse = JSON.parse(dataResponse);


                    //--If successfully added/updated
                    if (dataResponse.status === 1) {
                        swal("Success!", dataResponse.message, "success");
                        GetAllBusinessContentCoursePagination();
                    }
                    else {
                        swal({
                            title: 'Error!',
                            icon: 'error',
                            text: dataResponse.message
                        });
                        StopLoading();

                        return;
                    }

                   // EditBusinessProfile();
                    StopLoading();

                },
                error: function (result) {
                    StopLoading();

                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            });
        }

    }


      // Image File Preview -------------------------------------------------------------
    document.getElementById('fileProfileImage_ManageCourseImage').addEventListener('change', handleCourseImageUpload);

    function handleCourseImageUpload(event) {
    const file = event.target.files[0];
    const fileSize = file.size / 1024; // size in kilobytes
    const maxSize = 10*1024*1024; // maximum size in kilobytes
    const fileType = file.type;
    const validImageTypes = ['image/jpeg', 'image/png'];

    if (!validImageTypes.includes(fileType)) {
        $.iaoAlert({
            msg: '@(Resources.BusinessPanel.ValidImageTypesRequired)',
            type: "error",
            mode: "dark",
        });
        event.target.value = null; // clear the file input element
        $('#previewimageCoursePreview').addClass('d-none'); // hide the preview image
        return;
    }
    if (fileSize > maxSize) {
        $.iaoAlert({
            msg: '@(String.Format(Resources.BusinessPanel.FileSizeRequired, "10 MB"))',
            type: "error",
            mode: "dark",
        });
        event.target.value = null; // clear the file input element
        $('#previewimageCoursePreview').addClass('d-none'); // hide the preview image

        return;
    }

    // image size is within the limit, display the preview image
    const reader = new FileReader();
    reader.onload = function (event) {
        document.getElementById('previewimageCoursePreview').src = event.target.result;
        $('#previewimageCoursePreview').removeClass('d-none');
    }

    reader.readAsDataURL(file);
}

    function EditBusinessContentCourseDetail(id) {
        $("#collapseAddCourseService").modal('show');
        $(".error-class").html('');
        document.getElementById("Modal_Title").innerHTML = "Edit Course Detail";

        var _url = "/api/Business/GetBusinessContentCourse_PPCMeta?id=" +id ;

    StartLoading();

    $.ajax({
        type: "GET",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {
            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });
                return;
            }
            CourseId_Global = response.data.Id;
            $("#txtCourseTitle").val(response.data.Title);
            $("#fileProfileImage_ManageCourseImage").val('');
        if (response.data.CourseImageWithPath != "") {
            $("#previewimageCoursePreview").attr('src', response.data.CourseImageWithPath);
            $("#previewimageCoursePreview").removeClass('d-none');
        }



            StopLoading();
        },
        error: function (result) {
            StopLoading();

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
    }

     function ConfirmDeleteCourseDetail(sid) {
        swal({
            title: "@(Resources.BusinessPanel.ConfirmDeleteCourseTitle)",
            text: "@(Resources.BusinessPanel.ConfirmDeleteCourseText)",
            type: "warning",
            buttons: true,
            cancel: {
                text: "@(Resources.ErrorMessage.Cancel)",
                value: null,
                visible: false,
                className: "",
                closeModal: true,
            }
        }).then((willDelete) => {
            if (willDelete) {
                DeleteCourse(sid);
            } else {
                //swal("Your imaginary file is safe!");
            }
        });
    }

    function DeleteCourse(sid) {
        StartLoading();
        $.ajax({
            type: "POST",
            url: "/api/Business/DeleteCourseDetail?id=" + sid,
            headers: {
                "Authorization": "Bearer " + UserToken_Global,
                "Content-Type": "application/json"
            },
            contentType: 'application/json',
            success: function (dataResponse) {
                StopLoading();

                //--Check if staff successfully deleted
                if (dataResponse.status == 1) {
                    setTimeout(function () {
                        swal("Success!", dataResponse.message, "success");
                        GetAllBusinessContentCoursePagination();
                    }, 100);
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }
    function AddCourseDetail() {
        $("#collapseAddCourseService").modal('show');

    }

      function GetAllBusinessContentCoursePagination() {
        // ---------------- Pagination Data Table --------------------
          var _url_val = "/api/Business/GetAllBusinessContentCourseByPagination";
          _CourseTable.clear().destroy();
          _CourseTable = $("#tblCourseDetailView").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "ordering": true,
            "paginate": true,
            "order": [[2, "desc"]],
            "ajax": {
                "headers": {
                    "Authorization": "Bearer " + UserToken_Global
                },
                "url": _url_val,
                "type": "POST",
                //"data": { "_Params": JSON.stringify(_Params) },
                //"datatype": "json",
                "error": function (result) {
                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            },
            "columns": [
                {
                    "data": "SerialNumber", "name": "SerialNumber", "autoWidth": true
                }


                , {
                    "data": null, "": "CourseSignIcon", "autoWidth": true
                    , "render": function (data, type, row) {
                        //---Check Advertisement-Status
                        var _Image = (row.CourseImageWithPath == '') ? '' : '<img src="' + row.CourseImageWithPath + '" class="imagePreview" />';
                        return _Image;
                    }
                }
                , { "data": "Title", "name": "Title", "autoWidth": true }

               , {
                    "data": null, "": "Action", "autowidth": true,
                    "render": function (data, type, row) {
                        var _edit = '';
                       var _delete = '';

                                    //_view = `<a href="javascript:viewgroupdetail(${row.Id});"><i class="fas fa-eye" title="View"></i></a>`;

                        _edit = `<a href="javascript:EditBusinessContentCourseDetail(${row.Id});"><i class="fas fa-edit" title="Edit"></i></a>`;


                        _delete = `<a href="javascript:ConfirmDeleteCourseDetail(${row.Id});"><i class="fas fa-trash" title="Delete"></i></a>`;


                        var _action = `<div class="edbt">

                                    ${_edit}
                                    ${_delete}

                                </div>`;
                        return _action;
                    }
                }
            ],

            "responsive": true,
            "autoWidth": false,
            //"dom": "<'row my-3'<'col-sm-12'B>><'row'<'col-sm-6'l><'col-sm-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "columnDefs": [{
                "targets": [3], // column index (start from 0)
                "orderable": false, // set orderable false for selected columns
            }]
        });

        // for enabling search box only send requet on pressing enter
          $('#tblCourseDetailView_filter input').unbind();
          $('#tblCourseDetailView_filter input').bind('keyup', function (e) {
            if (e.keyCode == 13 || (e.keyCode == 8 && $(this).val() == '')) {
                _CourseTable.search(this.value).draw();
            }
        });

        // ----------------  Pagination Data Table ------------------
    }


    ///Curriculum   Section

    function ResetBusinessCurriculumDetail() {
        $("#fileProfileImage_ManageCurriculumImage").val('');
        $('#previewimageCurriculumPreview').addClass('d-none');
        $("#previewimageCurriculumPreview").attr('src', '');
        $('#txtCurriculumTitle').val('');
        $("#text_tagCurriculum").tagsinput('removeAll');
        //$('#collapseAddCourseService').hide();
        //$('#sectionViewCourse').show();
        //$('#AddCourseDetailButton').show();
        CurriculumId_Global = 0;
    }

    var CurriculumId_Global = 0;
    function btnSubmitBusinessContentCurriculumClick() {
        let is_valid = true;
        $(".error-class").html('');
        var _mode = (CurriculumId_Global > 0) ? 2 : 1;

        let _manageCurriculumTitle = $("#txtCurriculumTitle").val().trim();
        let _manageCurriculumOptions = $("#text_tagCurriculum").val().trim();

        let _error_manageCurriculumTitle = $("#error_txtCurriculumTitle");
        let _error_manageCurriculumOptions = $("#error_text_tagCurriculum");

        let _error_manageCurriculumImage = $("#error_fileProfileImage_ManageCurriculumImage");

        if (validate_IsEmptyStringInputFieldValue(_manageCurriculumTitle)) {
            is_valid = false;
            _error_manageCurriculumTitle.html('@(Resources.BusinessPanel.TitleRequired)');
         }
        if (validate_IsEmptyStringInputFieldValue(_manageCurriculumOptions)) {
            is_valid = false;
            _error_manageCurriculumOptions.html('@(Resources.BusinessPanel.CurriculumOptionsRequired)');
         }


        var _curriculumImageFile_MS = $("#fileProfileImage_ManageCurriculumImage").get(0);
        var _curriculumImageFiles = _curriculumImageFile_MS.files;

        if (_mode == 1 && _curriculumImageFiles.length <= 0) {
            is_valid = false;
            _error_manageCurriculumImage.html('@(Resources.BusinessPanel.CurriculumImageRequired)');
            return;
        }


        if (is_valid) {

            var data = new FormData();

            data.append("Id", CurriculumId_Global);
            data.append("Title", _manageCurriculumTitle);
            data.append("CurriculumOptions", _manageCurriculumOptions);
            data.append("Mode", _mode);
            data.append("CurriculumImage",_curriculumImageFiles[0]);



            $.ajax({
                url: '/api/Business/AddUpdateBusinessCurriculum_PPCMeta',
                headers: {
                    "Authorization": "Bearer " + UserToken_Global
                },
                data: data,
                processData: false,
                mimeType: 'multipart/form-data',
                contentType: false,
                //contentType: 'application/json',
                type: 'POST',
                success: function (dataResponse) {

                    //--Parse into Json of response-json-string
                    dataResponse = JSON.parse(dataResponse);


                    //--If successfully added/updated
                    if (dataResponse.status === 1) {
                        swal("Success!", dataResponse.message, "success");
                        GetAllBusinessContentCurriculumPagination();
                    }
                    else {
                        swal({
                            title: 'Error!',
                            icon: 'error',
                            text: dataResponse.message
                        });
                        StopLoading();

                        return;
                    }

                   // EditBusinessProfile();
                    StopLoading();

                },
                error: function (result) {
                    StopLoading();

                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            });
        }

    }


      // Image File Preview -------------------------------------------------------------
    document.getElementById('fileProfileImage_ManageCurriculumImage').addEventListener('change', handleCurriculumImageUpload);

    function handleCurriculumImageUpload(event) {
    const file = event.target.files[0];
    const fileSize = file.size / 1024; // size in kilobytes
    const maxSize = 10*1024*1024; // maximum size in kilobytes
    const fileType = file.type;
    const validImageTypes = ['image/jpeg', 'image/png'];

    if (!validImageTypes.includes(fileType)) {
        $.iaoAlert({
            msg: '@(Resources.BusinessPanel.ValidImageTypesRequired)',
            type: "error",
            mode: "dark",
        });
        event.target.value = null; // clear the file input element
        $('#previewimageCurriculumPreview').addClass('d-none'); // hide the preview image
        return;
    }
    if (fileSize > maxSize) {
        $.iaoAlert({
            msg: '@(String.Format(Resources.BusinessPanel.FileSizeRequired, "10 MB"))',
            type: "error",
            mode: "dark",
        });
        event.target.value = null; // clear the file input element
        $('#previewimageCurriculumPreview').addClass('d-none'); // hide the preview image

        return;
    }

    // image size is within the limit, display the preview image
    const reader = new FileReader();
    reader.onload = function (event) {
        document.getElementById('previewimageCurriculumPreview').src = event.target.result;
        $('#previewimageCurriculumPreview').removeClass('d-none');
    }

    reader.readAsDataURL(file);
}

    function EditBusinessContentCurriculumDetail(id) {
        $("#collapseAddCurriculumService").modal('show');
        $(".error-class").html('');
        document.getElementById("Modal_Title").innerHTML = "Edit Curriculum  Detail";

        var _url = "/api/Business/GetBusinessContentCurriculum_PPCMeta?id=" +id ;

    StartLoading();

    $.ajax({
        type: "GET",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {
            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });
                return;
            }
            CurriculumId_Global = response.data.Id;
            $("#txtCurriculumTitle").val(response.data.Title);
            $(".bootstrap-tagsinput input").val(response.data.CurriculumOptions);
            $("#fileProfileImage_ManageCurriculumImage").val('');
            if (response.data.CurriculumImageWithPath != "") {
                $("#previewimageCurriculumPreview").attr('src', response.data.CurriculumImageWithPath);
            $("#previewimageCurriculumPreview").removeClass('d-none');
        }



            StopLoading();
        },
        error: function (result) {
            StopLoading();

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
    }

    function ConfirmDeleteCurriculumDetail(sid) {
        swal({
            title: "@(Resources.BusinessPanel.ConfirmDeleteCurriculumTitle)",
            text: "@(Resources.BusinessPanel.ConfirmDeleteCurriculumText)",
            type: "warning",
            buttons: true,
            cancel: {
                text: "@(Resources.ErrorMessage.Cancel)",
                value: null,
                visible: false,
                className: "",
                closeModal: true,
            }
        }).then((willDelete) => {
            if (willDelete) {
                DeleteCurriculum(sid);
            } else {
                //swal("Your imaginary file is safe!");
            }
        });
    }

    function DeleteCurriculum(sid) {
        StartLoading();
        $.ajax({
            type: "POST",
            url: "/api/Business/DeleteCurriculumDetail?id=" + sid,
            headers: {
                "Authorization": "Bearer " + UserToken_Global,
                "Content-Type": "application/json"
            },
            contentType: 'application/json',
            success: function (dataResponse) {
                StopLoading();

                //--Check if staff successfully deleted
                if (dataResponse.status == 1) {
                    setTimeout(function () {
                        swal("Success!", dataResponse.message, "success");
                        GetAllBusinessContentCurriculumPagination();
                    }, 100);
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }
    function AddCurriculumDetail() {
        $("#collapseAddCurriculumService").modal('show');

    }

    function GetAllBusinessContentCurriculumPagination() {
        // ---------------- Pagination Data Table --------------------
        var _url_val = "/api/Business/GetAllBusinessContentCurriculumByPagination";
        _CurriculumTable.clear().destroy();
        _CurriculumTable = $("#tblCurriculumDetailView").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "ordering": true,
            "paginate": true,
            "order": [[3, "desc"]],
            "ajax": {
                "headers": {
                    "Authorization": "Bearer " + UserToken_Global
                },
                "url": _url_val,
                "type": "POST",
                //"data": { "_Params": JSON.stringify(_Params) },
                //"datatype": "json",
                "error": function (result) {
                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            },
            "columns": [
                {
                    "data": "SerialNumber", "name": "SerialNumber", "autoWidth": true
                }


                , {
                    "data": null, "": "CurriculumImage", "autoWidth": true
                    , "render": function (data, type, row) {
                        //---Check Advertisement-Status
                        var _Image = (row.CurriculumImageWithPath == '') ? '' : '<img src="' + row.CurriculumImageWithPath + '" class="imagePreview" />';
                        return _Image;
                    }
                }
                , { "data": "Title", "name": "Title", "autoWidth": true }
                , { "data": "CurriculumOptions", "name": "CurriculumOptions", "autoWidth": true }
               , {
                    "data": null, "": "Action", "autowidth": true,
                    "render": function (data, type, row) {
                        var _edit = '';
                       var _delete = '';

                                    //_view = `<a href="javascript:viewgroupdetail(${row.Id});"><i class="fas fa-eye" title="View"></i></a>`;

                        _edit = `<a href="javascript:EditBusinessContentCurriculumDetail(${row.Id});"><i class="fas fa-edit" title="Edit"></i></a>`;


                        _delete = `<a href="javascript:ConfirmDeleteCurriculumDetail(${row.Id});"><i class="fas fa-trash" title="Delete"></i></a>`;


                        var _action = `<div class="edbt">

                                    ${_edit}
                                    ${_delete}

                                </div>`;
                        return _action;
                    }
                }
            ],

            "responsive": true,
            "autoWidth": false,
            //"dom": "<'row my-3'<'col-sm-12'B>><'row'<'col-sm-6'l><'col-sm-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "columnDefs": [{
                "targets": [4], // column index (start from 0)
                "orderable": false, // set orderable false for selected columns
            }]
        });

        // for enabling search box only send requet on pressing enter
        $('#tblCurriculumDetailView_filter input').unbind();
        $('#tblCurriculumDetailView_filter input').bind('keyup', function (e) {
            if (e.keyCode == 13 || (e.keyCode == 8 && $(this).val() == '')) {
                _CurriculumTable.search(this.value).draw();
            }
        });

        // ----------------  Pagination Data Table ------------------
    }



     ///Education   Section

    function ResetBusinessEducationDetail() {

        $('#txtEducationQualification').val('');
        $('#Education_StartDate').val('');
        $('#Education_EndDate').val('');
        $('#txtEducationUniversity').val('');
        $("#fileProfileImage_ManageUniversityLogo").val('');
        $('#previewimageUniversityLogoPreview').addClass('d-none');
        $("#previewimageUniversityLogoPreview").attr('src', '');

        EducationId_Global = 0;
    }

    var EducationId_Global = 0;
    function btnSubmitBusinessContentEducationClick() {
        let is_valid = true;
        $(".error-class").html('');
        var _mode = (EducationId_Global > 0) ? 2 : 1;

        let _manageeducationQualification = $("#txtEducationQualification").val().trim();
        let _manageeducationStartDate = $("#Education_StartDate").val().trim();
        let _manageeducationEndDate = $("#Education_EndDate").val().trim();
        let _manageeducationUniversity = $("#txtEducationUniversity").val().trim();

        let _error_manageUniveersityLogo = $("#error_fileProfileImage_ManageUniversityLogo");

        let _error_manageeducationQualification = $("#error_txtEducationQualification");
        let _error_manageeducationStartDate = $("#error_Education_StartDate");
        let _error_manageeducationEndDate = $("#error_Education_EndDate");
        let _error_manageeducationUniversity = $("#error_txtEducationUniversity");

        var _universityLogoFile_MS = $("#fileProfileImage_ManageUniversityLogo").get(0);
        var _universityLogoFiles = _universityLogoFile_MS.files;

        if (_mode == 1 && _universityLogoFiles.length <= 0) {
            is_valid = false;
            _error_manageUniveersityLogo.html('@(Resources.BusinessPanel.BusinessUniversityLogoRequired)');
            return;
        }


        if (validate_IsEmptyStringInputFieldValue(_manageeducationQualification)) {
            is_valid = false;
            _error_manageeducationQualification.html('@(Resources.BusinessPanel.QualificationRequired)');
         }
        if (validate_IsEmptyStringInputFieldValue(_manageeducationStartDate)) {
            is_valid = false;
            _error_manageeducationStartDate.html('@(Resources.BusinessPanel.StartDateRequired)');
        }
        if (validate_IsEmptyStringInputFieldValue(_manageeducationEndDate)) {
            is_valid = false;
            _error_manageeducationEndDate.html('@(Resources.BusinessPanel.EndDateRequired)');
        }
        if (validate_IsEmptyStringInputFieldValue(_manageeducationUniversity)) {
            is_valid = false;
            _error_manageeducationUniversity.html('@(Resources.BusinessPanel.UniversityRequired)');
         }







        if (is_valid) {

            var data = new FormData();

            data.append("Id", EducationId_Global);
            data.append("Qualification", _manageeducationQualification);
            data.append("StartDate", _manageeducationStartDate);
            data.append("EndDate", _manageeducationEndDate);
            data.append("UniversityName", _manageeducationUniversity);
            data.append("UniversityLogo", _universityLogoFiles[0]);
            data.append("Mode", _mode);




            $.ajax({
                url: '/api/Business/AddUpdateBusinessEducationTeacherUniversity',
                headers: {
                    "Authorization": "Bearer " + UserToken_Global
                },
                data: data,
                processData: false,
                mimeType: 'multipart/form-data',
                contentType: false,
                //contentType: 'application/json',
                type: 'POST',
                success: function (dataResponse) {

                    //--Parse into Json of response-json-string
                    dataResponse = JSON.parse(dataResponse);


                    //--If successfully added/updated
                    if (dataResponse.status === 1) {
                        swal("Success!", dataResponse.message, "success");
                        GetAllBusinessContentEducationPagination();
                    }
                    else {
                        swal({
                            title: 'Error!',
                            icon: 'error',
                            text: dataResponse.message
                        });
                        StopLoading();

                        return;
                    }

                   // EditBusinessProfile();
                    StopLoading();

                },
                error: function (result) {
                    StopLoading();

                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            });
        }

    }


      // Image File Preview -------------------------------------------------------------
    document.getElementById('fileProfileImage_ManageUniversityLogo').addEventListener('change', handleUniversityLogoUpload);

    function handleUniversityLogoUpload(event) {
    const file = event.target.files[0];
    const fileSize = file.size / 1024; // size in kilobytes
    const maxSize = 10*1024*1024; // maximum size in kilobytes
    const fileType = file.type;
    const validImageTypes = ['image/jpeg', 'image/png'];

    if (!validImageTypes.includes(fileType)) {
        $.iaoAlert({
            msg: '@(Resources.BusinessPanel.ValidImageTypesRequired)',
            type: "error",
            mode: "dark",
        });
        event.target.value = null; // clear the file input element
        $('#previewimageUniversityLogoPreview').addClass('d-none'); // hide the preview image
        return;
    }
    if (fileSize > maxSize) {
        $.iaoAlert({
            msg: '@(String.Format(Resources.BusinessPanel.FileSizeRequired, "10 MB"))',
            type: "error",
            mode: "dark",
        });
        event.target.value = null; // clear the file input element
        $('#previewimageUniversityLogoPreview').addClass('d-none'); // hide the preview image

        return;
    }

    // image size is within the limit, display the preview image
    const reader = new FileReader();
    reader.onload = function (event) {
        document.getElementById('previewimageUniversityLogoPreview').src = event.target.result;
        $('#previewimageUniversityLogoPreview').removeClass('d-none');
    }

    reader.readAsDataURL(file);
}

    function EditBusinessContentEducationDetail(id) {
        $("#collapseAddEducationService").modal('show');
        $(".error-class").html('');
        document.getElementById("Modal_Title").innerHTML = "Edit Education  Detail";

        var _url = "/api/Business/GetBusinessContentEducationTeacher_PPCMeta?id=" +id ;

    StartLoading();

    $.ajax({
        type: "GET",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {
            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });
                return;
            }
            EducationId_Global = response.data.Id;
            $("#txtEducationQualification").val(response.data.Qualification);
            $("#txtEducationUniversity").val(response.data.UniversityName);
            $("#Education_StartDate").val(response.data.StartDate);
            $("#Education_EndDate").val(response.data.EndDate);
            $("#fileProfileImage_ManageUniversityLogo").val('');
            if (response.data.UniversityLogoWithPath != "") {
                $("#previewimageUniversityLogoPreview").attr('src', response.data.UniversityLogoWithPath);
                $("#previewimageUniversityLogoPreview").removeClass('d-none');
            }




            StopLoading();
        },
        error: function (result) {
            StopLoading();

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
    }

    function ConfirmDeleteEducationDetail(sid) {
        swal({
            title: "@(Resources.BusinessPanel.ConfirmDeleteEducationTitle)",
            text: "@(Resources.BusinessPanel.ConfirmDeleteEducationText)",
            type: "warning",
            buttons: true,
            cancel: {
                text: "@(Resources.ErrorMessage.Cancel)",
                value: null,
                visible: false,
                className: "",
                closeModal: true,
            }
        }).then((willDelete) => {
            if (willDelete) {
                DeleteEducation(sid);
            } else {
                //swal("Your imaginary file is safe!");
            }
        });
    }

    function DeleteEducation(sid) {
        StartLoading();
        $.ajax({
            type: "POST",
            url: "/api/Business/DeleteEducationTeacherDetail?id=" + sid,
            headers: {
                "Authorization": "Bearer " + UserToken_Global,
                "Content-Type": "application/json"
            },
            contentType: 'application/json',
            success: function (dataResponse) {
                StopLoading();

                //--Check if staff successfully deleted
                if (dataResponse.status == 1) {
                    setTimeout(function () {
                        swal("Success!", dataResponse.message, "success");
                        GetAllBusinessContentEducationPagination();
                    }, 100);
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }
    function AddEducationDetail() {
        $("#collapseAddEducationService").modal('show');

    }

    function GetAllBusinessContentEducationPagination() {
        // ---------------- Pagination Data Table --------------------
        var _url_val = "/api/Business/GetAllBusinessContentTeacherUniversityByPagination";
          _EducationTable.clear().destroy();
        _EducationTable = $("#tblEducationDetailView").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "ordering": true,
            "paginate": true,
            "order": [[5, "desc"]],
            "ajax": {
                "headers": {
                    "Authorization": "Bearer " + UserToken_Global
                },
                "url": _url_val,
                "type": "POST",
                //"data": { "_Params": JSON.stringify(_Params) },
                //"datatype": "json",
                "error": function (result) {
                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            },
            "columns": [
                {
                    "data": "SerialNumber", "name": "SerialNumber", "autoWidth": true
                }

                , {
                    "data": null, "": "UniversityLogo", "autoWidth": true
                    , "render": function (data, type, row) {
                        //---Check Advertisement-Status
                        var _Image = (row.UniversityLogoWithPath == '') ? '' : '<img src="' + row.UniversityLogoWithPath + '" class="previewimageUniversityLogoPreview" />';
                        return _Image;
                    }
                }

                , { "data": "Qualification", "name": "Qualification", "autoWidth": true }

                , { "data": "UniversityName", "name": "UniversityName", "autoWidth": true }
                , { "data": "StartDate", "name": "StartDate", "autoWidth": true }
                , { "data": "EndDate", "name": "EndDate", "autoWidth": true }
               , {
                    "data": null, "": "Action", "autowidth": true,
                    "render": function (data, type, row) {
                        var _edit = '';
                       var _delete = '';

                                    //_view = `<a href="javascript:viewgroupdetail(${row.Id});"><i class="fas fa-eye" title="View"></i></a>`;

                        _edit = `<a href="javascript:EditBusinessContentEducationDetail(${row.Id});"><i class="fas fa-edit" title="Edit"></i></a>`;


                        _delete = `<a href="javascript:ConfirmDeleteEducationDetail(${row.Id});"><i class="fas fa-trash" title="Delete"></i></a>`;


                        var _action = `<div class="edbt">

                                    ${_edit}
                                    ${_delete}

                                </div>`;
                        return _action;
                    }
                }
            ],

            "responsive": true,
            "autoWidth": false,
            //"dom": "<'row my-3'<'col-sm-12'B>><'row'<'col-sm-6'l><'col-sm-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "columnDefs": [{
                "targets": [6], // column index (start from 0)
                "orderable": false, // set orderable false for selected columns
            }]
        });

        // for enabling search box only send requet on pressing enter
        $('#tblEducationDetailView_filter input').unbind();
        $('#tblEducationDetailView_filter input').bind('keyup', function (e) {
            if (e.keyCode == 13 || (e.keyCode == 8 && $(this).val() == '')) {
                _EducationTable.search(this.value).draw();
            }
        });

        // ----------------  Pagination Data Table ------------------
    }
</script>
