<script>
    var UserToken_Global = "";
var MultipleItemId_Global = 0;

$(document).ready(function () {
    StartLoading();
    $.get("/SuperAdmin/GetSuperAdminToken", null, function (dataAdminToken) {
        if (dataAdminToken != "" && dataAdminToken != null) {

            UserToken_Global = dataAdminToken;
            getAllMultipleItems();
        }
        else {
            $.get("/SuperAdmin/GetSubAdminToken", null, function (dataAdminToken) {
                if (dataAdminToken != "" && dataAdminToken != null) {

                    UserToken_Global = dataAdminToken;
                    getAllMultipleItems();
                }
                else {
                    StopLoading();
                }
            });
        }
    });
});

function getAllMultipleItems() {
    let type = 'MultipleImage';
    let _url = "/api/ManageHomePage/MultipleItem/GetAllByType?type="+type;

    $.ajax({
        type: "GET",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {
            if (response.status < 1) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
                return;

            }


            var _table = $('#tblMultipleItems').DataTable();
            _table.destroy();

            var sno = 0;
            var _parentCategoryData = '';
            var _status = '';
            var _action = '';
            var _thumbnail = '';
            var data = [];
            for (var i = 0; i < response.data.length; i++) {
                sno++;
                _thumbnail = (response.data[i].ThumbnailImageWithPath == '') ? '': '<img src="' + response.data[i].ThumbnailImageWithPath +'" class="img-size-sm" />';

                _action = '<div class="edbt">';
                _action += '<a href="javascript:EditMultipleItem(' + response.data[i].Id + ');"><i class="fas fa-edit"></i></a>';
                _action += `<a href="javascript:confrimDelete_ManageMultipleItem(${response.data[i].Id});"><i class="fas fa-trash "></i></a>`;
                _action += '</div>';

                //---Check Staff-Status
                if (response.data[i].Status == 1) {
                    _status = '<span class="badge badge-success">Active</span>';
                }
                else {
                    _status = '<span class="badge badge-danger">Inactive</span>';
                }

                data.push([
                    sno,
                    _thumbnail,
                    response.data[i].Title,
                    response.data[i].Description,
                    response.data[i].Link,
                    _status,
                    _action
                ]);
            }

            $('#tblMultipleItems').DataTable({
                "data": data,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
            StopLoading();
        },
        error: function (result) {
            StopLoading();

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
}

function showAddUpdateSection() {
    $('#sectionViewCategories_ManageMultipleItem').addClass('d-none');
    $('#sectionAddUpdateCategory_ManageMultipleItem').removeClass('d-none');
}

function showViewSection() {
    $('#sectionAddUpdateCategory_ManageMultipleItem').addClass('d-none');
    $('#sectionViewCategories_ManageMultipleItem').removeClass('d-none');
}

function resetMultipleItemForm() {
    $('.error-class').html('');
    // Reset Fields
    var _id_substring = '_ManageMultipleImage';
    $("#txtTitle" + _id_substring).val('');
    $("#txtDescription" + _id_substring).val('');
    $("#txtButtonLink" + _id_substring).val('');
    $("#thumbnail" + _id_substring).attr('src', '');
    $("#thumbnail" + _id_substring).addClass('d-none');
    $('#chkIsActive' + _id_substring).prop('checked', false);
    $('#fileThumbnail' + _id_substring).val('');

    MultipleItemId_Global = 0;
    $('#sectionAddUpdateCategory_ManageMultipleItem .card-title').html('Add New');
}

function EditMultipleItem(id) {
    if (id <= 0)
        return;

    StartLoading();
    let _url = API_Base_URL + "/api/ManageHomePage/MultipleItem/GetById?id="+id;

    $.ajax({
        type: "GET",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {
            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });
                return;
            }

            let _item = response.data;
            var _id_substring = '_ManageMultipleImage';
            $("#txtTitle" + _id_substring).val(_item.Title);
            $("#txtDescription" + _id_substring).val(_item.Description);
            $("#txtButtonLink" + _id_substring).val(_item.Link);
            if (_item.ThumbnailImageWithPath != "") {
                $("#thumbnail" + _id_substring).attr('src', _item.ThumbnailImageWithPath);
                $("#thumbnail" + _id_substring).removeClass('d-none');
            }
            else {
                $("#thumbnail" + _id_substring).addClass('d-none');
            }

            if (_item.Status == 1) {
                $('#chkIsActive' + _id_substring).prop('checked', true);
            }
            else {
                $('#chkIsActive' + _id_substring).prop('checked', false);
            }

            MultipleItemId_Global = id;
            $('#sectionAddUpdateCategory_ManageMultipleItem .card-title').html('Edit');
            showAddUpdateSection();
            StopLoading();
        },
        error: function (result) {
            StopLoading();

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
}

function AddUpdate_ManageMultipleItem() {
    var is_valid = true;
    $(".error-class").html('');
    var _mode = (MultipleItemId_Global > 0) ? 2 : 1;

    var _id_substring = "_ManageMultipleImage";
        let _title = $("#txtTitle" + _id_substring).val().trim();
        let _description = $("#txtDescription" + _id_substring).val().trim();
        let _buttonLink = $("#txtButtonLink" + _id_substring).val().trim();
        //let _video = $("#txtVideo" + _id_substring).val().trim();

        let _error_title = $("#error_txtTitle" + _id_substring);
        let _error_description = $("#error_txtDescription" + _id_substring);
        let _error_buttonLink = $("#error_txtButtonLink" + _id_substring);
        let _error_thumbnail = $("#error_fileThumbnail" + _id_substring);
        //let _error_video = $("#error_txtVideo" + _id_substring);


        var _cardThumbnailImageFile_MS = $("#fileThumbnail" + _id_substring).get(0);
        var _CardThumbnailImageFiles = _cardThumbnailImageFile_MS.files;

        if (_mode <= 1 && _CardThumbnailImageFiles.length <= 0) {
            is_valid = false;
            _error_thumbnail.html('@(Resources.SuperAdminPanel.BusinessCourseCategoryImageRequired)');
        }


        if (validate_IsEmptyStringInputFieldValue(_title)) {
            is_valid = false;
            _error_title.html('@(Resources.SuperAdminPanel.TitleRequired)');
        }

        if (validate_IsEmptyStringInputFieldValue(_description)) {
            is_valid = false;
            _error_description.html('@(Resources.SuperAdminPanel.DescriptionRequired)');
        }
        @*if (validate_IsEmptyStringInputFieldValue(_buttonText)) {
            is_valid = false;
            _error_buttonText.html('@(Resources.SuperAdminPanel.ButtonTextRequired)');
        }*@
        if (validate_IsEmptyStringInputFieldValue(_buttonLink)) {
            is_valid = false;
            _error_buttonLink.html('@(Resources.SuperAdminPanel.ButtonLinkRequired)');
        }
        else if (!isValidHttpLink(_buttonLink)) {
           is_valid = false;
           _error_buttonLink.html('@(Resources.SuperAdminPanel.ValidLinkRequired)');
        }
        @*if (validate_IsEmptyStringInputFieldValue(_video)) {
            is_valid = false;
            _error_video.html('@(Resources.SuperAdminPanel.VideoLinkRequired)');
        }*@

    if (is_valid) {
        StartLoading();

         var _status = 0;
         if ($('#chkIsActive' + _id_substring).is(':checked')) {
             _status = 1;
         }

         var data = new FormData();

         data.append("Id", MultipleItemId_Global);
         data.append("Type", 'MultipleImage');
         data.append("Title", _title);
         data.append("Description", _description);
         data.append("Link", _buttonLink);
         data.append("Status", _status);
         data.append("Mode", _mode);
         //data.append("Video", _video);
         data.append("Thumbnail", _CardThumbnailImageFiles[0]);

        $.ajax({
            url: '/api/ManageHomePage/MultipleItem/AddUpdate',
            headers: {
                "Authorization": "Bearer " + UserToken_Global
            },
            data: data,
            processData: false,
            contentType: false,
            mimeType: 'multipart/form-data',
            //contentType: 'application/json',
            type: 'POST',
            dataType: "json",
            success: function (dataResponse) {

                //--If successfully added
                if (dataResponse.status == 1) {
                    swal("Success!", dataResponse.message, "success");

                    getAllMultipleItems();

                    resetMultipleItemForm();
                    showViewSection();
                }
                else {
                    $.iaoAlert({
                        msg: dataResponse.message,
                        type: "error",
                        mode: "dark",
                    });
                }
                StopLoading();

            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }
}

function btnClickCancel_ManageMultipleItem() {
    showViewSection();
    resetMultipleItemForm();
}

function confrimDelete_ManageMultipleItem(categoryId) {
    let textMessage = '@(Resources.SuperAdminPanel.ConfirmDeleteItemText)';

    swal({
        title: "@(Resources.SuperAdminPanel.ConfirmDeleteItemTitle)",
        text: textMessage,
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            ajaxDeleteItem(categoryId);
        } else {
            //swal("Your imaginary file is safe!");
        }
    });
}

function ajaxDeleteItem(id) {
    StartLoading();
    _url =  '/api/ManageHomePage/MultipleItem/DeleteById?id=' + id;
    $.ajax({
        type: "POST",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {
            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });
                return;
            }

            if (response.status == 1) {
                swal("Success!", response.message, "success");
            }

            getAllMultipleItems();
        },
        error: function (result) {
            StopLoading();

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
}


      // Image File Preview -------------------------------------------------------------
    document.getElementById('fileThumbnail_ManageMultipleImage').addEventListener('change', handleCardThumbnailImageUpload);

    function handleCardThumbnailImageUpload(event) {
        const file = event.target.files[0];
        const fileSize = file.size / 1024; // size in kilobytes
        const maxSize = 10 * 1024 * 1024; // maximum size in kilobytes
        const fileType = file.type;
        const validImageTypes = ['image/jpeg', 'image/png'];

        if (!validImageTypes.includes(fileType)) {
            $.iaoAlert({
                msg: '@(Resources.BusinessPanel.ValidImageTypesRequired)',
                type: "error",
                mode: "dark",
            });
            event.target.value = null; // clear the file input element
            $('#thumbnail_ManageMultipleImage').addClass('d-none'); // hide the preview image
            return;
        }
        if (fileSize > maxSize) {
            $.iaoAlert({
                msg: '@(String.Format(Resources.BusinessPanel.FileSizeRequired, "10 MB"))',
                type: "error",
                mode: "dark",
            });
            event.target.value = null; // clear the file input element
            $('#thumbnail_ManageMultipleImage').addClass('d-none'); // hide the preview image

            return;
        }


        // image size is within the limit, display the preview image
        const reader = new FileReader();
        reader.onload = function (event) {
            document.getElementById('thumbnail_ManageMultipleImage').src = event.target.result;
            $('#thumbnail_ManageMultipleImage').removeClass('d-none');
        }

        reader.readAsDataURL(file);
    }



    ////// -----------    FIELD VALIDATION HANDLER FUNCTIONS  --------------------------

    function validate_IsEmptyStringInputFieldValue(inputFieldValue) {
        if (inputFieldValue == '' || inputFieldValue.replace(/\s/g, "") == "")
            return true;
        return false;
    }

    function validate_IsEmptySelectInputFieldValue(inputFieldValue) {
        if (inputFieldValue == undefined || inputFieldValue == null || inputFieldValue == '' || inputFieldValue == 0)
            return true;
        return false;
    }
    ////// -----------    FIELD VALIDATION HANDLER FUNCTIONS  --------------------------

</script>
