<script>
    var UserToken_Global = "";
    var _instructorsTable;


$(document).ready(function () {
    StartLoading();
    $.get("/SuperAdmin/GetSuperAdminToken", null, function (dataAdminToken) {
        if (dataAdminToken != "" && dataAdminToken != null) {

            UserToken_Global = dataAdminToken;
            initializeDataTable_Events();
            GetAllInstructors();
            StopLoading();
        }
        else {
            $.get("/SuperAdmin/GetSubAdminToken", null, function (dataAdminToken) {
                if (dataAdminToken != "" && dataAdminToken != null) {

                    UserToken_Global = dataAdminToken;
                    initializeDataTable_Events();
                    GetAllInstructors();
                    StopLoading();
                }
                else {
                    StopLoading();
                }
            });
        }
    });
});


    function initializeDataTable_Events() {
        _instructorsTable = $("#tblAllInstructors").DataTable();
    }

function GetAllInstructors() {
    // ---------------- Pagination Data Table --------------------
    var _url_val = "/api/Business/GetAllInstructorListForSuperAdmin_ByPagination";
    _instructorsTable.clear().destroy();
    _instructorsTable = $("#tblAllInstructors").DataTable({
        "processing": true,
        "serverSide": true,
        "filter": true,
        "orderMulti": false,
        "ordering": true,
        "paginate": true,
        "order": [[1, "desc"]],
        "ajax": {
            "headers": {
                "Authorization": "Bearer " + UserToken_Global
            },
            "url": _url_val,
            "type": "POST",
            //"data": { "_Params": JSON.stringify(_Params) },
            //"datatype": "json",
            "error": function (result) {
                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        },
        "columns": [
            {
                "data": "SerialNumber", "name": "SerialNumber", "autoWidth": true
            }
            , {
                "data": "ShowOnHomePage", "name": "ShowOnHomePage", "autoWidth": true
                , "render": function (data, type, row) {
                    var _icon = (row.ShowOnHomePage == 1) ? '<i class="fas fa-check-square text-success" title="Change visibility on Home Page"></i>' : '<i class="far fa-square"  title="Change visibility on Home Page"></i>';
                    return `<button class="btn" onclick="ConfirmToggleHomePageVisibilityStatus(${row.Id})">${_icon}</button>`;
                }
            }
            , {
                "data": "Status", "name": "Status", "autoWidth": true
                , "render": function (data, type, row) {
                    var _data = (row.Status == 1) ? '<span class="badge badge-success">Active</span>' : '<span class="badge badge-danger">Inactive</span>';
                    return _data;
                }
            }
            , { "data": "MasterId", "name": "MasterId", "autoWidth": true }
            , {
                "data": "BusinessName", "name": "BusinessName", "autoWidth": true
                , "render": function (data, type, row) {
                    return `
                        <a target="_blank" href="/SuperAdmin/BusinessDetail?businessOwnerLoginId=${row.UserLoginId}">
                            <div class="d-flex flex-grow-1">
                                <div class="mr-2"><img src="${row.BusinessLogoWithPath}" class="img-size-sm" /></div>
                                <div class="mb-1">${row.BusinessName}</div>
                            </div>
                        </a>
                    `;
                }
            }
            , {
                "data": "Name", "name": "Name", "autoWidth": true
                , "render": function (data, type, row) {
                    var _data = `
                    <a target="_blank" href="/SuperAdmin/BusinessDetail?businessOwnerLoginId=${row.UserLoginId}">
                        <div class="d-flex align-items-center">
                                <div class="mr-2">
                                    <img src="${row.ProfileImageWithPath}" class="img-size-sm" />
                                </div>
                            <div>${row.Name} </div>
                        </div>
                    </a>
                    `;
                    return _data;
                }
            }
            , { "data": "SubCategoryName", "name": "SubCategoryName", "autoWidth": true }

        ],

        "responsive": true,
        "autoWidth": false,
        //"dom": "<'row my-3'<'col-sm-12'B>><'row'<'col-sm-6'l><'col-sm-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        "columnDefs": [{
            "targets": [0], // column index (start from 0)
            "orderable": false, // set orderable false for selected columns
        }]
    });

    // for enabling search box only send requet on pressing enter
    $('#tblAllInstructors_filter input').unbind();
    $('#tblAllInstructors_filter input').bind('keyup', function (e) {
        if (e.keyCode == 13 || (e.keyCode == 8 && $(this).val() == '')) {
            _instructorsTable.search(this.value).draw();
        }
    });

    // ----------------  Pagination Data Table ------------------
}


    function ConfirmToggleHomePageVisibilityStatus(id) {
        swal({
            title: "@(Resources.SuperAdminPanel.ConfirmToggleHomePageVisibilityStatusTitleMessage)",
            text: "@(Resources.SuperAdminPanel.ConfirmToggleHomePageVisibilityStatusTextMessage)",
            type: "warning",
            buttons: {
                cancel: "@(Resources.ErrorMessage.No)",
                confirm: "@(Resources.ErrorMessage.Yes)"
            }
        })
        .then((willDelete) => {
            if (willDelete) {
                ToggleHomePageVisibilityStatus(id);
            } else {
                
            }
        });
    }

    function ToggleHomePageVisibilityStatus(id) {
        StartLoading();
        $.ajax({
            type: "POST",
            url: "/api/Business/ToggleHomePageVisibilityStatus/" + id,
            headers: {
                "Authorization": "Bearer " + UserToken_Global,
                "Content-Type": "application/json"
            },
            contentType: 'application/json',
            success: function (dataResponse) {
                StopLoading();

                //--Check if staff successfully deleted
                if (dataResponse.status == 1) {
                    setTimeout(function () {
                        swal("Success!", dataResponse.message, "success");
                        GetAllInstructors();
                    }, 100);
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }


</script>

